<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ADMIN</title>
    <link rel="icon" type="image/x-icon" href="image/favicon.ico">
    <link rel="stylesheet" href="css/main.css">
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://unpkg.com/ag-grid-community/styles/ag-grid.css"/>
    <link rel="stylesheet" href="https://unpkg.com/ag-grid-community/styles/ag-theme-alpine.css"/>
</head>
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/accessibility.js"></script>
<script src="https://unpkg.com/ag-grid-community/dist/ag-grid-community.min.noStyle.js"></script>
<script src="https://unpkg.com/read-excel-file@5.x/bundle/read-excel-file.min.js"></script>
<script type="text/javascript" src="https://unpkg.com/xlsx@0.15.1/dist/xlsx.full.min.js"></script>
<style>
    html{
        font-family: arial, sans-serif;
    }
</style>
<body>
    <div class="header_admin">
        <div class="admin">Ad<span style="color: white;">min</span></div>
        <a href="/"><i class='bx bx-log-out'></i></a>
    </div>
    <div class="admin_main">
        <div class="pro_admin">
            <div class="prof_ad">
                <img src="image/admin.png" alt="">
                <p>@-administrators</p>
            </div>
            <div class="Ql_admin">
                <ul>
                    <li data-id="scr1" class="js_admin_li "><i class='bx bxs-user'></i>User management</li>
                    <li data-id="scr2" class="js_admin_li js_admin_active"><i class='bx bxs-book'></i>Book management</li>
                    <li data-id="scr3" class="js_admin_li js_scr3"><i class='bx bxs-book-reader'></i>Book rental management</li>
                </ul>
            </div>
        </div>
        <div class="content_admin">
            <div id="scr1" class="scr js_scr ">
                <div class="renderListUser">
                    <!-- <div class="bodyrenderUser">
                        <table>
                            <tr style="background-color: #0ee985;">
                                <th>Stt</th>
                                <th>Account</th>
                                <th>FullName</th>
                                <th>Old</th>
                                <th>Address</th>
                                <th>Mailing</th>
                                
                            </tr>
                            <tbody class="js_renderUser">
                                <tr>
                                    <td>0</td>
                                    <td>thanhtm352@gmail.com</td>
                                    <td>Nguyễn Thanh Tâm</td>
                                    <td>22</td>
                                    <td>Nui sap - thoai son - an giang</td>
                                    <td><div class="sendmail"><i class='bx bx-mail-send'></i></div></td>
                                </tr>
                            </tbody>
                        </table>
                    </div> -->
                    <div id="myGrid" class="ag-theme-alpine" style="height: 500px"></div>
                </div>
            </div>
            <div id="scr2" class="scr js_scr js_show_scr">
                <div class="iconFunAdmins">
                    <div class="funBookad js_showAddbook" data-setsr = "sraddb">
                        <div class="iconAd"><i class='bx bx-book-add'></i></div>
                        <p class="texticonad">Add new books</p>
                    </div>
                    <div class="funBookad js_showAddbook" data-setsr = "srstatic">
                        <div class="iconAd"><i class='bx bx-bar-chart-square'></i></div>
                        <p class="texticonad">book statistics</p>
                    </div>
                    <div class="funBookad js_eventSfile" style="position: relative; z-index: 10;">
                        <div class="iconAd"><i class='bx bx-file-find'></i></div>
                        <p class="texticonad">Search by file</p>
                    </div>
                    <div class="showsearchfile js_showsearchF">
                        <input type="file" class="custom-file-input js_inputSFile" title="add files" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" / >
                        <div class="iconsearchfile js_showMSF" title="search"><i class='bx bx-search-alt'></i></div>
                        <div class="namefile"><p class="js_nameFile"></p></div>
                    </div>
                    <div class="funBookad js_addfile">
                        <div class="iconAd"><i class='bx bxs-file-import'></i></i></div>
                        <p class="texticonad">Add by file</p>
                    </div>
                    <div class="showsearchfile js_showformadd">
                        <form action="/upload-file-addbooks" method="post" enctype="multipart/form-data" title="add files">
                            <input type="file" name="myFile" class="custom-file-input js_inputbookfile" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" />
                            <button id="submitAddbookfile" type="submit" hidden></button>
                        </form>
                        
                        <div class="iconsearchfile js_viewfileadd"><i class='bx bx-upload' title="file upload"></i></div>
                        <div onclick="ExportToExcel('xlsx')" class="iconsearchfile js_fileaddmau"  style="margin-top: 7px;"><i class='bx bxs-file' title="sample file download"></i></div>
                        <div class="tabledatamau" hidden>
                            <table id="tblDatamau" border="1">
                                <thead>
                                    <th>id</th>
                                    <th>title</th>
                                    <th>author</th>
                                    <th>yearPub</th>
                                    <th>publisher</th>
                                    <th>image</th>
                                    <th>amount</th>
                                </thead>
                            </table>
                        </div>
                        <div class="namefile"><p class="js_namebookflie"></p></div>
                    </div>
                </div>
                <div class="chartBook">
                    <div id="HighChartPubYear" class="highchar1"></div>
                </div>
                <div class="chartBookoder hiddenSr js_showAB srstatic">
                    <div id="HighChartAllB" class="highchar4"></div>
                    <div id="HighChartOneB" class="highchar5"></div>
                </div>
                <div class="addNewBook hiddenSr js_showAB sraddb">
                    <div class="divAdd">
                        <h3>Add new books</h3>
                        <form action="/reate-new-book" class="js_formAddBook" method="POST">
                            <div class="contentAdd">
                                <div class="elAdd">
                                    <div class="textAdd">Book title :</div>
                                    <input type="text" name="title" id="">
                                    <span class="Elspan"></span>
                                </div>
                                <div class="elAdd">
                                    <div class="textAdd">Author :</div>
                                    <input type="text" name="author" id="">
                                    <span class="span2"></span>
                                </div>
                                <div class="elAdd">
                                    <div class="textAdd">Publishing year :</div>
                                    <input type="number" name="yearPub" id="">
                                    <span class="span3"></span>
                                </div>
                                <div class="elAdd">
                                    <div class="textAdd">Publisher :</div>
                                    <input type="text" name="publisher" id="">
                                    <span class="span4"></span>
                                </div>
                                <div class="addImg">
                                    <div class="textAdd textImage">Image :
                                        <div class="chooseImg">
                                            <div style="cursor:pointer" id="btnImg">add by file</div>
                                            <input type="file" id="inputImg" style="display:none" accept="image/png, image/gif, image/jpeg">
                                            <span>or add by link</span>
                                            <input type="text">
                                            <input type="text" name="image" hidden>
                                        </div>
                                    </div>
                                </div>
                                <input type="text" name="Idb" hidden>
                            </div>
                            <div class="butSubmit">
                                <button type="submit">Save</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="funEdit cssnone js_showedit">
                    <div class="bodyedit">
                        <h3>Book editing <i class='bx bx-x js_closeE'></i></h3>
                        <form action="/update-book" method="POST">
                            <div class="bdedit js_bodyformedit">
                                    <div class="imageEdit"><img src="http://images.amazon.com/images/P/1896860982.0" alt=""></div>
                                    <div class="contentEdit">
                                        <input type="text" name="idB" hidden value="">
                                        <div class="eledit">
                                            <p>Title :</p>
                                            <input type="text" name="title" value="">
                                        </div>
                                        <div class="eledit">
                                            <p>Author :</p>
                                            <input type="text" name="author" value="">
                                        </div>
                                        <div class="eledit">
                                            <p>Publishing year :</p>
                                            <input type="number" name="yearpub" value="">
                                        </div>
                                        <div class="eledit">
                                            <p>Publisher :</p>
                                            <input type="text" name="publisher" value="">
                                        </div>
                                        <input type="text" name="imageB" hidden value="">
                                        <div class="butSubmitEdit">
                                            <button type="submit">Save</button>
                                        </div>
                                    </div>
                            </div>
                    </form>
                    </div>
                </div>
                <div class="bodyRenderbooks">
                    <div class="searchBooks">
                        <div class="fill">
                            <div class="iconSearch js_iconfil"><i class='bx bx-filter-alt' ></i></div>
                            <div class="bodyfill js_bodyfil">
                                <div class="ffic">
                                    <div class="fitext">choose categories</div>
                                    <select class="fillfic js_fillfic">
                                        <!-- <option value="all">All</option>
                                        <option value="Cg1">Biography & Autobiography</option>
                                        <option value="Cg2">History</option>
                                        <option value="Cg3">Fiction</option>
                                        <option value="Cg4">Juvenile Fiction</option>
                                        <option value="Cg5">Literary Criticism</option> -->
                                    </select>
                                </div>
                                <div class="fyear">
                                    <div class="fitext">select year of publication</div>
                                    <select class="fillyear js_fillyear">
                                        <!-- <option value="">All</option>
                                        <option value="">1900</option>
                                        <option value="">2000</option> -->
                                    </select>
                                </div>
                                <div class="subfill"><div class="icfil js_subfill">Ok</div></div>
                            </div>
                        </div>
                        <div class="iconSearch"><i class='bx bx-search-alt-2'></i></div>
                        <div class="inpsearch">
                            <input type="text" class="js_iptSearch" placeholder="title or year of publication">
                        </div>
                    </div>
                    <div class="listRenbooks">
                        <table>
                            <tr style="background-color: #fdc111;">
                              <th>Image</th>
                              <th>Book title</th>
                              <th>Author</th>
                              <th>Publishing year</th>
                              <th>Publisher</th>
                              <th>Statistical</th>
                              <th>Edit</th>
                              <th>Delete</th>
                            </tr>
                            <tbody class="js_renderB">
                                <!-- <tr class="tableBadmin">
                                    <td><img src="http://images.amazon.com/images/P/0312195516.0" alt=""></td>
                                    <td style="text-align:left;">The Red Tent (Bestselling Backlist)</td>
                                    <td>Anita Diamant</td>
                                    <td>1998</td>
                                    <td>Picador USA</td>
                                    <td><i class='bx bxs-edit'></i></td>
                                    <td><i class='bx bx-x'></i></td>
                                </tr> -->
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div id="scr3" class="scr js_scr ">
                <div class="bodyRenderOders">
                    <div class="chartOder">
                        <div id="ChartOderY" class="highchar2"></div>
                    </div>
                    <div class="funStatus">
                        <p><i class='bx bx-filter-alt'style="position: relative;top: 2px;padding-right: 4px;"></i>: </p>
                        <div class="unex ">
                            <p class="js_filStatus">unexpired</p>
                        </div>
                        <div class="ex">
                            <p class="js_filStatus">expired</p>
                        </div>
                    </div>
                    <div class="listRenOders">
                        <table>
                            <tr style="background-color: #3be8d8;">
                              <th>ID</th>
                              <th>User</th>
                              <th>Number of books</th>
                              <th>Book rental date</th>
                              <th>Date of payment</th>
                              <th>Status</th>
                              <th>Detail</th>
                              <th>Payment</th>
                            </tr>
                            <tbody class="js_innOder">
                                <!-- <tr>
                                    <td>4nwkvurE</td>
                                    <td>Nguyen Thanh Tam</td>
                                    <td>2</td>
                                    <td>27/09/2022</td>
                                    <td>29/09/2022</td>
                                    <td><div class="status"><p class="exD">expired</p></div></td>
                                    <td><i class='bx bxs-show'></i></td>
                                    <td><form action="">
                                        <input type="text" name="IDo" hidden value="">
                                        <input type="text" name="IDu" hidden value="">
                                        <input type="text" name="Cart" hidden value="">
                                        <input type="text" name="DateRental" hidden value="">
                                        <input type="text" name="DatePay" hidden value="">
                                        <input type="text" name="PayStatus" hidden value="1">
                                        <button class="butPaystatus" type="submit">yes</button>
                                    </form></td>
                                </tr> -->
                            </tbody>
                          </table>                          
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal_viewOder js_modalview">
        <div class="content_viewOder js_cntO">
            <h1>Book rental confirmation <img src="image/ads-removebg-preview.png" alt=""></h1>
            <div class="bodyVoucher js_detailView">
                <div class="js_viewVouUser">
                    <div class="cntV">
                        <span><i class='bx bxs-user'></i> Full name of book tenant :</span>
                        <div class="cntText"></div>
                    </div>
                    <div class="cntV">
                        <span><i class='bx bxs-map-pin' ></i> The address of the book renter :</span>
                        <div class="cntText"></div>
                    </div>
                    <div class="cntV">
                        <span><i class='bx bx-mail-send'></i> Contact email :</span>
                        <div class="cntText"></div>
                    </div>
                </div>
                <div >
                    <div class="cntV">
                        <span style="min-width: 143px;"><i class='bx bxs-book-add'></i> Rented books :</span>
                        <div class="cntText"></div>
                    </div>
                    <div class="cntV">
                        <span><i class='bx bx-calendar-check'></i> Book rental date :</span>
                        <div class="cntText"></div>
                    </div>
                    <div class="cntV">
                        <span><i class='bx bx-calendar-check'></i> Date of payment :</span>
                        <div class="cntText"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bannerdelete js_banner">
        <div class="bodybanner">
            <div class="textban">
                <p><i class='bx bx-error-circle'></i>Are you sure you want to delete?</p>
            </div>
            <div class="chooseban">
                <div class="huyban js_no">No</div>
                <div class="okeban js_yes" >Yes</div>
            </div>
        </div>
    </div>
    <div class="modal_searchF js_MSF">
        <div class="bodysearchF js_bodyMSF">
            <!-- js_downpdf -->
            <div class="iconsSearchF">
                <div class="icondowload">
                    <i class='bx bxs-download js_icondown'></i>
                    <div class="chooseDownload js_showicondown">
                        <div class="bodychoosedownload">
                            <div class="downpdf js_downpdf js_closeevent"><i class='bx bxs-file-pdf'></i> Download PDF</div>
                            <div class="downexcel js_downexcel js_closeevent"><i class='bx bxs-file-export' ></i> Download Excel</div>
                        </div>
                    </div>
                </div>
                <div class="iconcolseF js_iconcolseF"><i class='bx bx-x' ></i></div>
            </div>
            <div class="table_searchF listRenbooks" id="contentToPrint">
                <table>
                    <tr style="background-color: #0ceccd;">
                      <th>Image</th>
                      <th>Book title</th>
                      <th>Author</th>
                      <th>Publishing year</th>
                      <th>Publisher</th>
                      <th>Amount</th>
                      <th>Current quantity</th>
                    </tr>
                    <tbody class="js_contentSF">
                        <!-- <tr class="tableBadmin">
                            <td><img src="http://images.amazon.com/images/P/0312195516.0" alt=""></td>
                            <td style="text-align:left;">The Red Tent (Bestselling Backlist)</td>
                            <td>Anita Diamant</td>
                            <td>1998</td>
                            <td>Picador USA</td>
                            <td>10</td>
                            <td>8</td>
                        </tr> -->
                    </tbody>
                </table>
            </div>
            <div class="table_excel" hidden>
                <table id="tblData">
                    <tr>
                        <th>ID</th>
                        <th>Book title</th>
                        <th>Author</th>
                        <th>Publishing year</th>
                        <th>Publisher</th>
                        <th>Amount</th>
                        <th>Current quantity</th>
                        <th>Image</th>
                    </tr>
                    <tbody class="js_bodyexcelfile">
                        <tr>
                            <td>id</td>
                            <td>title</td>
                            <td>au</td>
                            <td>pubye</td>
                            <td>pub</td>
                            <td>a</td>
                            <td>ca</td>
                            <td>link</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="modal_viewaddfile js_modalfileadd">
        <div class="bodyaddfile js_bodymodalfileadd">
            <div class="chooseiconfile">
                <div class="butsubfile js_butsubfileadd" data-idsubfile="submitAddbookfile">Upload</div>
                <i class='bx bx-x js_iconloseaddfile' ></i>
            </div>
            <div class="listRenbooks tablie_fileadd">
                <table>
                    <tr style="background-color: #e3a6a6;">
                      <th>Id</th>
                      <th>Book title</th>
                      <th>Author</th>
                      <th>Publishing year</th>
                      <th>Publisher</th>
                      <th>Amount</th>
                      <th>Image</th>
                    </tr>
                    <tbody class="jd_contentaddfile">
                        <!-- <tr class="tableBadmin">
                            <td>0763879226</td>
                            <td style="text-align:left;">The Red Tent (Bestselling Backlist)</td>
                            <td>Anita Diamant</td>
                            <td>1998</td>
                            <td>Picador USA</td>
                            <td>10</td>
                            <td><img src="http://images.amazon.com/images/P/0312195516.0" alt=""></td>
                        </tr> -->
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
<script src="js/eventAdmin.js"></script>
<script src="js/dtAdmin.js"></script>
<script>
        document.getElementById('btnImg').addEventListener('click', () => { 
            document.getElementById('inputImg').click();
        })
</script>
</html>