<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DetailBooks</title>
    <link rel="icon" type="image/x-icon" href="image/favicon.ico">
    <link rel="stylesheet" href="css/main.css">
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <div class="header js_header" style="background-color:black; top: 0px">
        <div class="header_mid">
            <div class="header_content">
                <div class="hd_logo">
                    <div class="logo">
                        <a href="#" class="logo_link">
                            <img src="image/ads-removebg-preview.png" alt="">
                        </a>
                        <div class="logo_text">
                            BOOKs
                        </div>
                    </div>
                </div>
                <div class="hd_menu">
                    <nav class="hd_nav_menu">
                        <ul class="menu_main">
                            <li class="menu_list">
                                <a href="/" class="menu_list_home">
                                    <span class="list_color" >Home</span>
                                </a>
                            </li>
                            <li class="menu_list">
                                <a href="/books" class="menu_list_home">
                                    <span class="list_color">Books</span>
                                </a>
                            </li>
                            <div class="js_logout">
                                <!-- <li class="menu_list">
                                    <a href="#" class="menu_list_home js_register">
                                        <span class="list_color">Register</span>
                                    </a>
                                </li>
                                <li class="menu_list">
                                    <a class="menu_list_home js_login">
                                        <span class="list_color">Login</span>
                                    </a>
                                </li> -->
                            </div>  
                            <li class="menu_list">

                                <!-- <a href="./books" class="menu_list_home"> -->
                                    <span class="list_color js_cart numcart">
                                        <i class='bx bx-cart'></i>
                                        <div class="numelcart"><p class="js_num"></p></div>
                                    </span>
                                <!-- </a> -->
                            </li>  
                            <!-- <li class="menu_list js_contai_search">
                                <a href="#" class="menu_list_home js_search">
                                    <span class="list_color"><i class='bx bx-search-alt-2'></i></span>
                                </a>
                                <input type="text" class="search js_input_search" placeholder="key word">
                            </li> -->
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <div class="detail_body">
        <div id="js_detail" class="detail_book">
            <div class="dt_loading"><img src="image/loading.gif" alt=""></div>
            <!-- <div class="detail_img">
                <img src="http://images.amazon.com/images/P/0002005018.01.LZZZZZZZ.jpg" alt="">
            </div>
            <div class="detail_info">
                <div class="title_info">
                    <h1 class="detail_titleBook">Clara Callan</h1>
                </div>
                <div class="detail_rating">
                    <ul class="detail_list_star">
                        <li><i class='bx bxs-star star_full'></i></li>
                        <li><i class='bx bxs-star star_full'></i></li>
                        <li><i class='bx bxs-star star_full'></i></li>
                        <li><i class='bx bxs-star star_full'></i></li>
                        <li><i class='bx bx-star star_fill' ></i></li>
                    </ul>
                </div>
                <div class="content_info">
                    <div class="detail_aut_book" style="color: #897c7c;">By: <span>Richard Bruce Wright</span></div>
                    <div class="detail_aut_book" style="color: #897c7c;">Year-Of-Publication: <span>2001</span></div>
                    <div class="detail_aut_book" style="color: #897c7c;">Publisher: <span>HarperFlamingo Canada</span></div>
                    <div class="detail_share">
                        <h1 class="detail_titleBook">Share</h1>
                        <div class="list_share">
                            <i class='bx bxl-facebook-circle fb'></i>
                            <i class='bx bxl-messenger mes'></i>
                            <i class='bx bxl-twitter tw'></i>
                            <i class='bx bx-link-alt lin' ></i>
                        </div>
                    </div>
                </div>
                <div class="addTocart">
                    <div class="addcart">
                        <p>Add To Cart</p>
                    </div>
                </div>             
            </div> -->
        </div>
        <div class="detail_ml">
            <h1>Evaluate</h1>
            <div class="ratig">
                <ul class="ra_star">
                    <li class="sta1 " ><i class='bx bxs-star js_star' data-value="2" data-star="1" value="1"></i></li>
                    <li class="sta2 " ><i class='bx bxs-star js_star' data-value="4" data-star="2" value="2"></i></li>
                    <li class="sta3 " ><i class='bx bxs-star js_star' data-value="6" data-star="3" value="3"></i></li>
                    <li class="sta4 " ><i class='bx bxs-star js_star' data-value="8" data-star="4" value="4"></i></li>
                    <li class="sta5 " ><i class='bx bxs-star js_star' data-value="10" data-star="5" value="5"></i></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="comments">
        <h1>reviews - comments from customers</h1>
        <div class="content_cmt">
            <div class="cmts">
                <div class="cmt">
                    <div class="imgCmt">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRN0wR21lrB1tZAW3ihK1Zy3CXpXy4PazEU1w&usqp=CAU" alt="">
                    </div>
                    <div class="nameCmt">
                        <div class="name">Thanh Tam Nguyen <div class="date">17/09 + 4:32 PM</div></div>
                        <p>this book is so good, I'm sorry I didn't finish it</p>
                        <div class="cmtLike">
                            <p class="like"><i class='bx bx-like'></i> like</p>
                            <p class="rep">reply <i class='bx bx-reply'></i></p>
                        </div>
                    </div>

                </div>
                <div class="cmt">
                    <div class="imgCmt">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRN0wR21lrB1tZAW3ihK1Zy3CXpXy4PazEU1w&usqp=CAU" alt="">
                    </div>
                    <div class="nameCmt">
                        <div class="name">Thanh Tam Nguyen <div class="date">17/09 + 4:32 PM</div></div>
                        <p>this book is so good good good good good good good good good good good good good good good good</p>
                        <div class="cmtLike">
                            <p class="like"><i class='bx bx-like'></i> like</p>
                            <p class="rep">reply <i class='bx bx-reply'></i></p>
                        </div>
                    </div>

                </div>
                <div class="cmt">
                    <div class="imgCmt">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRN0wR21lrB1tZAW3ihK1Zy3CXpXy4PazEU1w&usqp=CAU" alt="">
                    </div>
                    <div class="inpcmt">
                        <form action="/reate-new-comment" method="post" class="js_formcmt" style="width: 100%;">
                            <input type="text" placeholder="leave a review comment here" name="comment">
                            <span></span>
                            <input type="text" name="idBook" hidden value="idb">
                            <input type="text" name="idUser" hidden value="idu">
                            <input type="text" name="timeCmt" hidden value="time">
                            <button type="submit" hidden></button>
                        </form>
                    </div>

                </div>
            </div>
            <div class="tkratings">
                <div class="cmtrat">
                    <div class="tk5s">
                        <div class="iconS">
                            <i class='bx bxs-star' ></i>
                            <i class='bx bxs-star' ></i>
                            <i class='bx bxs-star' ></i>
                            <i class='bx bxs-star' ></i>
                            <i class='bx bxs-star' ></i>
                        </div>
                        <div class="startk">
                            <div class="tkback"></div>
                            <div class="tkst"></div>
                        </div>
                    </div>
                    <div class="tk4s">
                        <div class="iconS">
                            <i class='bx bxs-star' ></i>
                            <i class='bx bxs-star' ></i>
                            <i class='bx bxs-star' ></i>
                            <i class='bx bxs-star' ></i>
                            <i class='bx bx-star' ></i>
                        </div>
                        <div class="startk">
                            <div class="tkback"></div>
                            <div class="tkst"></div>
                        </div>
                    </div>
                    <div class="tk3s">
                        <div class="iconS">
                            <i class='bx bxs-star' ></i>
                            <i class='bx bxs-star' ></i>
                            <i class='bx bxs-star' ></i>
                            <i class='bx bx-star' ></i>
                            <i class='bx bx-star' ></i>
                        </div>
                        <div class="startk">
                            <div class="tkback"></div>
                            <div class="tkst"></div>
                        </div>
                    </div>
                    <div class="tk2s">
                        <div class="iconS">
                            <i class='bx bxs-star' ></i>
                            <i class='bx bxs-star' ></i>
                            <i class='bx bx-star' ></i>
                            <i class='bx bx-star' ></i>
                            <i class='bx bx-star' ></i>
                        </div>
                        <div class="startk">
                            <div class="tkback"></div>
                            <div class="tkst"></div>
                        </div>
                    </div>
                    <div class="tk1s">
                        <div class="iconS">
                            <i class='bx bxs-star' ></i>
                            <i class='bx bx-star' ></i>
                            <i class='bx bx-star' ></i>
                            <i class='bx bx-star' ></i>
                            <i class='bx bx-star' ></i>
                        </div>
                        <div class="startk">
                            <div class="tkback"></div>
                            <div class="tkst"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="htgy">
        <h1>Similarly rated books</h1>
        <div id="js_htgy" class="htgy_content">
            <!-- <div class="item_best_book">
                <div class="image_book">
                    <img src="http://images.amazon.com/images/P/0425182908.01.LZZZZZZZ.jpg" alt="">
                    <div class="image_hover">
                        <div class="search_image">
                            <a href="./DetailBooks.html" class="icon_search"><i class='bx bx-search-alt-2'></i></a>
                        </div>
                    </div>
                </div>
                <div class="tt_book">
                    <a href="./DetailBooks.html" class="title_book">Isle of Dogs</a>
                    <div class="aut_book">By: <span>Patricia Cornwell</span></div>
                </div>
            </div>
            <div class="item_best_book">
                <div class="image_book">
                    <img src="http://images.amazon.com/images/P/0195153448.01.LZZZZZZZ.jpg" alt="">
                    <div class="image_hover">
                        <div class="search_image">
                            <a href="./DetailBooks.html" class="icon_search"><i class='bx bx-search-alt-2'></i></a>
                        </div>
                    </div>
                </div>
                <div class="tt_book">
                    <a href="./DetailBooks.html" class="title_book">Classical Mythology</a>
                    <div class="aut_book">By: <span>Mark P.O.Morford</span></div>
                </div>
            </div>
            <div class="item_best_book">
                <div class="image_book">
                    <img src="http://images.amazon.com/images/P/0393045218.01.LZZZZZZZ.jpg" alt="">
                    <div class="image_hover">
                        <div class="search_image">
                            <a href="./DetailBooks.html" class="icon_search"><i class='bx bx-search-alt-2'></i></a>
                        </div>
                    </div>
                </div>
                <div class="tt_book">
                    <a href="./DetailBooks.html" class="title_book">The Mummies of Urumchi</a>
                    <div class="aut_book">By: <span>E.J.W.Barber</span></div>
                </div>
            </div>
            <div class="item_best_book">
                <div class="image_book">
                    <img src="http://images.amazon.com/images/P/0440234743.01.LZZZZZZZ.jpg" alt="">
                    <div class="image_hover">
                        <div class="search_image">
                            <a href="./DetailBooks.html" class="icon_search"><i class='bx bx-search-alt-2'></i></a>
                        </div>
                    </div>
                </div>
                <div class="tt_book">
                    <a href="./DetailBooks.html" class="title_book">The Testament</a>
                    <div class="aut_book">By: <span>John Grisham</span></div>
                </div>
            </div>
            <div class="item_best_book">
                <div class="image_book">
                    <img src="http://images.amazon.com/images/P/0002005018.01.LZZZZZZZ.jpg" alt="">
                    <div class="image_hover">
                        <div class="search_image">
                            <a href="./DetailBooks.html" class="icon_search"><i class='bx bx-search-alt-2'></i></a>
                        </div>
                    </div>
                </div>
                <div class="tt_book">
                    <a href="./DetailBooks.html" class="title_book">Classical Mythology</a>
                    <div class="aut_book">By: <span>Mark P.O.Morford</span></div>
                </div>
            </div> -->
        </div>
    </div>


    <div class="footer">
        <div class="logo_footer">
            <div class="lg_ft">
                <a href="#" class="logo_link_footer">
                    <img src="image/ads-removebg-preview.png" alt="">
                </a>
                <div class="logo_text_footer">
                    BOOKS
                </div>
            </div>
        </div>
        <div class="icon_link_footer">
            <div class="list_icon_footer">
                <div class="icon_footer ">
                    <a href="#" class="icon_fb"><i class='bx bxl-facebook size_icon '></i></a>
                </div>
                <div class="icon_footer">
                    <a href="#" class="icon_yt"><i class='bx bxl-youtube size_icon '></i></a>
                </div>
                <div class="icon_footer ">
                    <a href="#" class="icon_twitter "><i class='bx bxl-twitter size_icon'></i></a>
                </div>
                <div class="icon_footer ">
                    <a href="#" class="icon_insagram"><i class='bx bxl-instagram size_icon'></i></a>
                </div>
                <div class="icon_footer">
                    <a href="#" class="icon_map"><i class='bx bxs-map size_icon'></i></a>
                </div>
            </div>
        </div>
        <div class="rules">
            <div class="text_rules">
                <p><a href="#">ThemeREX</a> © 2022 All Rights Reserved. <a href="#">Terms of Use</a> and <a href="#">Privacy Policy</a>.</p>
            </div>
        </div>
    </div>
    <div class="modal js_modal">      
        <div class="modal_login js_modal_login">
            <div class="modal_login_close">
                <div class="modal_login_x js_modalClose">
                    <img src="image/x-removebg-preview.png" alt="">
                </div>
            </div>
            <div class="modal_login_header">
                LOGIN
            </div>
            <form action="" class="js_form js_form1">
                <div class="modal_login_body">
                    <div class="modal_taikhoan">
                        <label for="" class="modal_login_label"><i class='bx bxs-user'></i></label>
                        <input type="text" class="modal_login_input js_login_tk" placeholder="Email" > 
                    </div>
                    <div class="modal_matkhau">
                        <label for="" class="modal_login_label"><i class='bx bxs-lock-alt'></i></label>
                        <input type="password" class="modal_login_input js_pass_login" placeholder="Password">
                    </div>
                    <button id="but_login" class="modal_login_login" type="submit">
                        Login
                    </button>
                </div>
            </form>
            <footer class="modal_login_footer">
                <p class="modal_help">Need <a href="#">help?</a></p>
            </footer>
        </div>
    </div>
    <div class="modal1">
        <div class="modal_register js_modal_register">
            <div class="modal_login_close">
                <div class="modal_login_x js_close_register">
                    <img src="image/x-removebg-preview.png" alt="">
                </div>
            </div>
            <div class="modal_register_header">
                Register
            </div>
            <form action="/reate-new-user" method="POST" id="formR">
                <div class="modal_register_content">
                    <div class="modal_register_name fl">
                        <label for="">Full name (<span style="color: red;">*</span>)</label>
                        <div class="vali">
                            <input class="js_vali_input" type="text" name = "fullname">
                            <small></small>
                            <span></span>
                        </div>
                    </div>
                    <div class="modal_register_add fl">
                        <label for="">Address (<span style="color: red;">*</span>)</label>
                        <div class="vali">
                            <input class="js_vali_input" type="text" name = "addr">
                            <small></small>
                            <span></span>
                        </div>
                    </div>
                    <div class="modal_register_birthday fl">
                        <label for="">Birthday (<span style="color: red;">*</span>)</label>
                        <div class="vali">
                            <input class="js_vali_input" type="date" name="birthday">
                            <small></small>
                            <span></span>
                        </div>
                    </div>
                    <div class="modal_register_mail fl">
                        <label for="">Email (<span style="color: red;">*</span>)</label>
                        <div class="vali">
                            <input class="js_vali_input" type="email" name="email">
                            <small></small>
                            <span></span>
                        </div>
                    </div>
                    <div class="modal_register_pass fl">
                        <label for="">Password (<span style="color: red;">*</span>)</label>
                        <div class="vali">
                            <input class="js_vali_input" type="password" name="password">
                            <small></small>
                            <span class=""></span>
                        </div>
                    </div>
                    <div class="modal_register_repass fl">
                        <label for="">Re-password (<span style="color: red;">*</span>)</label>
                        <div class="vali">
                            <input class="js_vali_input" type="password" name="repassword">
                            <small></small>
                            <span class=""></span>
                        </div>
                    </div>
                    <div class="modal_but">
                        <button type="submit">Start</button>
                    </div>
                    <!-- <div class="modal_register_footer">
    
                    </div> -->
                </div>
            </form>
        </div>
    </div>
    <div class="modal js_modalcart">
        <div class="modal_cart js_contentCart">
            <div class="modal_close_cart">
                <div class="close_cart js_imgcart">
                    <img src="image/x-removebg-preview.png" alt="">
                </div>
            </div>
            <div class="modal_header_cart"><i class='bx bx-cart'></i>  Cart  <i class='bx bx-cart'></i></div>
            <div class="contentCart">
                <table>
                    <tr>
                      <th>Book title</th>
                      <th>Image</th>
                      <th>Amount</th>
                      <th>Remove</th>
                    </tr>
                    <tbody class="js_bodyCart">
                        <!-- <tr>
                            <td class="titleB">Alfreds Futterkiste</td>
                            <td><img class="imgCart" src="http://images.amazon.com/images/P/0002005018.01.LZZZZZZZ.jpg" alt=""></td>
                            <td>x1</td>
                            <td><i class='bx bx-x'></i></td>
                        </tr> -->
                    </tbody>
                  </table>
            </div>
            <div class="okCart">
                <div class="remov">Delete All</div>
                <div class="nextcart">Next</div>
            </div>
        </div>
        
    </div>
    <a href="#" class="link_back_home">
        <div class="back_home"><i style="font-size: 20px;" class='bx bxs-upvote'></i></div>
    </a>
</body>
<script src="js/main.js"></script>
<script src="js/login.js"></script>
<script src="js/validateRegister.js"></script>
<script src="js/dtDetail.js"></script>
<script src="js/RS.js"></script>
<script src="js/addTocart.js"></script>
</html>