<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="icon" type="image/x-icon" href="image/favicon.ico">
    <link rel="stylesheet" href="css/main.css">
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
</head>
<style>
    .menu_list{
        font-family: inherit;
    }
    .pro_admin{
        font-family: arial, sans-serif;
    }
    
</style>
<body>
    <div class="header js_header" style="background-color:#070707; top: 0px">
        <div class="header_mid">
            <div class="header_content">
                <div class="hd_logo">
                    <div class="logo">
                        <a href="#" class="logo_link">
                            <img src="image/ads-removebg-preview.png" alt="">
                        </a>
                        <div class="logo_text">
                            BOOKs
                        </div>
                    </div>
                </div>
                <div class="hd_menu">
                    <nav class="hd_nav_menu">
                        <ul class="menu_main pro">
                            <li class="menu_list">
                                <a href="/" class="menu_list_home">
                                    <span class="list_color" >Home</span>
                                </a>
                            </li>
                            <li class="menu_list">
                                <a href="/books" class="menu_list_home">
                                    <span class="list_color">Books</span>
                                </a>
                            </li>
                            <li class="menu_list" style="position: relative; ">
                                <a class="menu_list_home showchoose">
                                    <span class="list_color">About</span>
                                </a>
                                <div class="chooseabout">
                                    <a href="/aboutus"><div class="chonaboutus">About Us</div></a>
                                    <a href="/contacts"><div class="choncontacts">Contacts</div></a>
                                </div>
                            </li>
                            <div class="js_logout">
                                <li class="menu_list">
                                    <a href="#" class="menu_list_home">
                                        <span style="color: #00bfc5; font-size: 19px;">Profile</span>
                                    </a>
                                </li>
								<li class="menu_list">
                                    <a href="/" class="menu_list_home js_out">
                                        <span class="list_color">Logout</span>
                                    </a>
                                </li>
                                <!-- <li class="menu_list">
                                    <a href="#" class="menu_list_home js_register">
                                        <span class="list_color">Register</span>
                                    </a>
                                </li>
                                <li class="menu_list">
                                    <a class="menu_list_home js_login">
                                        <span class="list_color">Login</span>
                                    </a>
                                </li> -->
                            </div>
                            <li class="menu_list">

                                <!-- <a href="./books" class="menu_list_home"> -->
                                    <span class="list_color js_cart numcart">
                                        <i class='bx bx-cart'></i>
                                        <div class="numelcart"><p class="js_num"></p></div>
                                    </span>
                                <!-- </a> -->
                            </li>  
                            <!-- <li class="menu_list js_contai_search">
                                <a href="#" class="menu_list_home js_search">
                                    <span class="list_color"><i class='bx bx-search-alt-2'></i></span>
                                </a>
                                <input type="text" class="search js_input_search" placeholder="key word">
                            </li> -->
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <div class="admin_main">
        <div class="pro_admin newprofile">
            <div class="prof_ad newpro_ad">
                <!-- <div><img src="https://cdn.pixabay.com/photo/2016/11/14/17/39/person-1824144_640.png" alt=""></div> -->
                <div class="div">
                    <div class="backgr_pro"><i class='bx bxs-edit js_edit'></i></div>
                    <img src="https://cdn.pixabay.com/photo/2014/04/02/10/48/symbol-304598_960_720.png" alt="">
                </div>
                <p class="js_nametk">@-tên tài khoản</p>
            </div>
            <!-- js_inf_pro -->
            <div class="inf_pro js_inf_pro">
                <form action="">
                <ul>
                    <li><span class="titleinf"><i class='bx bx-user-pin'></i> Full name :</span> <div></div></li>
                    <!-- <input class="ipnutInf cssnone" type="text" placeholder="thanhtam"> -->
                    <li><span class="titleinf"><i class='bx bx-map'></i> Address :</span> <div></div></li>
                    <!-- <input class="ipnutInf cssnone" type="text" placeholder="nui sap"> -->
                    <li><span class="titleinf"><i class='bx bx-envelope'></i> Email :</span> <div></div></li>
                </ul>
                <!-- <div class="butInf cssnone"><button type="submit">submit</button></div> -->
                </form>
            </div>
            <div class="bodychangepass">
                <div class="changepassword js_butshow_change"><i class='bx bxs-key'></i> Change the password</div>
            </div>
        </div>
        <div class="content_admin content_profile">
            <div id="scr1" class="scr js_scr js_show_scr">
               <div class="function">
                <div class="bigfun">
                    <div class="fun_voucher js_fun js_clstatus boder_click" data-srid = "sr1">
                        <i class='bx bx-bookmark color_icon text_color'></i>
                        <div class="icon">
                            <i class='bx bx-book-reader'></i>
                            <p>rental voucher</p>
                        </div>
                    </div>
                </div>
                <div class="bigfun">
                    <div class="fun_voucher js_fun " data-srid = "sr2">
                        <i class='bx bx-bookmark-heart'></i>
                        <div class="icon">
                            <i class='bx bx-heart'></i>
                            <p>favorite books</p>
                        </div>
                    </div>
                </div>
                
               </div>
               <!-- hiddenSr -->
               <div id="sr1" class="bodyfun hiddenSr showSr js_srfun">
                    <h1>Rental voucher</h1>
                    <div class="funbody">
                        <div class="funStatus">
                            <p><i class='bx bx-filter-alt'style="position: relative;top: 2px;padding-right: 4px;"></i>: </p>
                            <div class="unex ">
                                <p class="js_filStatus">unexpired</p>
                            </div>
                            <div class="ex">
                                <p class="js_filStatus">expired</p>
                            </div>
                        </div>
                        <div class="content-vrental">
                            <table class="table_vrental">
                                <tr>
                                  <th>Cost</th>
                                  <th>Number of books</th>
                                  <th>Book rental date</th>
                                  <th>Date of payment</th>
                                  <th>Status</th>
                                  <th>Detail</th>
                                  <th>Payment</th>
                                </tr>
                                <tbody class="js_tableRV">
                                    <!-- <tr>
                                        <td>6EBP9qJv</td>
                                        <td>5</td>
                                        <td>24/09/2022</td>
                                        <td>28/09/2022</td>
                                        <td><div class="status"><p class="unexD">unexpired</p></div></td>
                                        <td><i class='bx bxs-show js_viewO'></i></td>
                                        <td><i class='bx bx-check-circle'></i></td>
                                    </tr> -->
                                </tbody>
                              </table>
                        </div>
                    </div>
               </div>
               <div id="sr2" class="bodyfun hiddenSr js_srfun">
                    <h1>Favorite books</h1>
                    <div class="bodylikeB">
                        <div class="renderlikelist js_renderlikelist">
                            <div class="paddingEllike">
                                <div class="ellike">
                                    <img src="http://images.amazon.com/images/P/0060915544.0" alt="">
                                    <div class="iconlistLi">
                                        <div><i class='bx bxs-heart' style="color: red;"></i></div>
                                        <div><a href="/detail" class="js_likedetail"><i class='bx bx-search'></i></a></div>
                                        <div><i class='bx bx-trash'></i></div>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
               </div>
               <div class="ttbodychangepassword js_bodyfullchange">
                    <div class="contentbodychangep js_content_change_pass">
                        <div class="titlechan">Change the password</div>
                        <form action="/update-password-user" class="js_formchangepass" method="post">
                            <div class="ttcontentpass">
                                <div class="passcu csspaass">
                                    <label for="">Old password:</label>
                                    <div class="inppass">
                                        <input type="password">
                                        <span></span>
                                        <small></small>
                                    </div>
                                </div>
                                <div class="passmoi csspaass">
                                    <label for="">New password:</label>
                                    <div class="inppass">
                                        <input type="password">
                                        <span></span>
                                        <small></small>
                                    </div>
                                </div>
                                <div class="nhaplaipassmoi csspaass">
                                    <label for="">Re-enter new password:</label>
                                    <div class="inppass">
                                        <input type="password" name="passupdate">
                                        <span></span>
                                        <small></small>
                                    </div>
                                </div>
                                <input type="text" name="iduser" hidden>
                                <div class="butsubchangepass">
                                    <div class="cancelpass js_cancel_change_pass">Cancel</div>
                                    <button type="submit">Update</button>
                                </div>
                            </div>
                        </form>
                    </div>
               </div>
            </div>
        </div>
    </div>


    <div class="footer">
        <div class="logo_footer">
            <div class="lg_ft">
                <a href="#" class="logo_link_footer">
                    <img src="image/ads-removebg-preview.png" alt="">
                </a>
                <div class="logo_text_footer">
                    BOOKS
                </div>
            </div>
        </div>
        <div class="icon_link_footer">
            <div class="list_icon_footer">
                <div class="icon_footer ">
                    <a href="#" class="icon_fb"><i class='bx bxl-facebook size_icon '></i></a>
                </div>
                <div class="icon_footer">
                    <a href="#" class="icon_yt"><i class='bx bxl-youtube size_icon '></i></a>
                </div>
                <div class="icon_footer ">
                    <a href="#" class="icon_twitter "><i class='bx bxl-twitter size_icon'></i></a>
                </div>
                <div class="icon_footer ">
                    <a href="#" class="icon_insagram"><i class='bx bxl-instagram size_icon'></i></a>
                </div>
                <div class="icon_footer">
                    <a href="#" class="icon_map"><i class='bx bxs-map size_icon'></i></a>
                </div>
            </div>
        </div>
        <div class="rules">
            <div class="text_rules">
                <p><a href="#">ThemeREX</a> © 2022 All Rights Reserved. <a href="#">Terms of Use</a> and <a href="#">Privacy Policy</a>.</p>
            </div>
        </div>
    </div>
    <div class="modal js_modal">      
        <div class="modal_login js_modal_login">
            <div class="modal_login_close">
                <div class="modal_login_x js_modalClose">
                    <img src="image/x-removebg-preview.png" alt="">
                </div>
            </div>
            <div class="modal_login_header">
                LOGIN
            </div>
            <form action="" class="js_form js_form1">
                <div class="modal_login_body">
                    <div class="modal_taikhoan">
                        <label for="" class="modal_login_label"><i class='bx bxs-user'></i></label>
                        <input type="text" class="modal_login_input js_login_tk" placeholder="Email" > 
                    </div>
                    <div class="modal_matkhau">
                        <label for="" class="modal_login_label"><i class='bx bxs-lock-alt'></i></label>
                        <input type="password" class="modal_login_input js_pass_login" placeholder="Password">
                    </div>
                    <button id="but_login" class="modal_login_login" type="submit">
                        Login
                    </button>
                </div>
            </form>
            <footer class="modal_login_footer">
                <p class="modal_help">Need <a href="#">help?</a></p>
            </footer>
        </div>
    </div>
    <div class="modal1">
        <div class="modal_register js_modal_register">
            <div class="modal_login_close">
                <div class="modal_login_x js_close_register">
                    <img src="image/x-removebg-preview.png" alt="">
                </div>
            </div>
            <div class="modal_register_header">
                Register
            </div>
            <form action="/reate-new-user" method="POST" id="formR">
                <div class="modal_register_content">
                    <div class="modal_register_name fl">
                        <label for="">Full name (<span style="color: red;">*</span>)</label>
                        <div class="vali">
                            <input class="js_vali_input" type="text" name = "fullname">
                            <small></small>
                            <span></span>
                        </div>
                    </div>
                    <div class="modal_register_add fl">
                        <label for="">Address (<span style="color: red;">*</span>)</label>
                        <div class="vali">
                            <input class="js_vali_input" type="text" name = "addr">
                            <small></small>
                            <span></span>
                        </div>
                    </div>
                    <div class="modal_register_birthday fl">
                        <label for="">Birthday (<span style="color: red;">*</span>)</label>
                        <div class="vali">
                            <input class="js_vali_input" type="date" name="birthday">
                            <small></small>
                            <span></span>
                        </div>
                    </div>
                    <div class="modal_register_mail fl">
                        <label for="">Email (<span style="color: red;">*</span>)</label>
                        <div class="vali">
                            <input class="js_vali_input" type="email" name="email">
                            <small></small>
                            <span></span>
                        </div>
                    </div>
                    <div class="modal_register_pass fl">
                        <label for="">Password (<span style="color: red;">*</span>)</label>
                        <div class="vali">
                            <input class="js_vali_input" type="password" name="password">
                            <small></small>
                            <span class=""></span>
                        </div>
                    </div>
                    <div class="modal_register_repass fl">
                        <label for="">Re-password (<span style="color: red;">*</span>)</label>
                        <div class="vali">
                            <input class="js_vali_input" type="password" name="repassword">
                            <small></small>
                            <span class=""></span>
                        </div>
                    </div>
                    <div class="modal_but">
                        <button type="submit">Start</button>
                    </div>
                    <!-- <div class="modal_register_footer">
    
                    </div> -->
                </div>
            </form>
        </div>
    </div>
    <div class="modal js_modalcart">
        <div class="modal_cart js_contentCart">
            <div class="modal_close_cart">
                <div class="close_cart js_imgcart">
                    <img src="image/x-removebg-preview.png" alt="">
                </div>
            </div>
            <div class="modal_header_cart"><i class='bx bx-cart'></i>  Cart  <i class='bx bx-cart'></i></div>
            <div class="contentCart">
                <table>
                    <tr>
                      <th>Book title</th>
                      <th>Image</th>
                      <th>Amount</th>
                      <th>Remove</th>
                    </tr>
                    <tbody class="js_bodyCart">
                        <!-- <tr>
                            <td class="titleB">Alfreds Futterkiste</td>
                            <td><img class="imgCart" src="http://images.amazon.com/images/P/0002005018.01.LZZZZZZZ.jpg" alt=""></td>
                            <td>x1</td>
                            <td><i class='bx bx-x'></i></td>
                        </tr> -->
                    </tbody>
                  </table>
            </div>
            <div class="okCart">
                <div class="remov">Delete All</div>
                <div class="nextcart js_nextBuy">Next</div>
            </div>
        </div>
        
    </div>
    <div class="modal_viewOder js_modalview">
        <div class="content_viewOder js_cntO">
            <h1>Book rental confirmation <img src="image/ads-removebg-preview.png" alt=""></h1>
            <div class="bodyVoucher ">
                <div class="js_viewVouUser">
                    <div class="cntV">
                        <span><i class='bx bxs-user'></i> Full name of book tenant :</span>
                        <div class="cntText"></div>
                    </div>
                    <div class="cntV">
                        <span><i class='bx bxs-map-pin' ></i> The address of the book renter :</span>
                        <div class="cntText"></div>
                    </div>
                    <div class="cntV">
                        <span><i class='bx bx-mail-send'></i> Contact email :</span>
                        <div class="cntText"></div>
                    </div>
                </div>
                <div class="js_detailView">
                    <div class="cntV">
                        <span style="min-width: 143px;"><i class='bx bxs-book-add'></i> Rented books :</span>
                        <div class="cntText"></div>
                    </div>
                    <div class="cntV">
                        <span><i class='bx bx-calendar-check'></i> Book rental date :</span>
                        <div class="cntText"></div>
                    </div>
                    <div class="cntV">
                        <span><i class='bx bx-calendar-check'></i> Date of payment :</span>
                        <div class="cntText"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a href="#" class="link_back_home">
        <div class="back_home"><i style="font-size: 20px;" class='bx bxs-upvote'></i></div>
    </a>
    <div class="webchat"></div>
</body>
<script src="js/main.js"></script>
<script src="js/dtProfile.js"></script>
<script src="js/addTocart.js"></script>
<script>
    const logout = document.querySelector(".js_out");
    logout.addEventListener("click",()=>{
        localStorage.removeItem("IDuser");
    })
</script>
<script src="js/botRasa.js"></script>
</html>
