@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@1,700&display=swap");
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	/* background-color: black; */
	font-family: inherit;
	font-size: 100%;
	font-style: inherit;
	font-weight: inherit;
	line-height: inherit;
}
/* header */
.header {
	/* background-color: aliceblue; */
	background-color: black;
	/* background: none !important; */
	/* width: 1535px; */
	width: 100%;
	height: 100px;
	z-index: 9;
	position: relative;
    top: -17px;
}
.js_scroll_header {
    top: 0px;
	position: fixed;
	background-color: black;
	animation: scrollH ease-in-out 0.5s;
}
@keyframes scrollH {
	from {
		transform: translateY(-100px);
	}
	to {
		transform: translateY(0);
	}
}
.header_content {
	/* width: 1170px; */
	display: flex;
	justify-content: space-around;
	height: 100px;
}
.hd_menu ul {
	list-style-type: none;
}
.menu_main {
	display: flex;
}
.hd_menu {
	align-self: center;
}
.header_mid {
	text-align: -webkit-center;
}

.menu_list_home {
	text-decoration: none;
}
.js_search {
	padding-right: 2px;
}
.menu_list {
	padding-right: 3em;
}
.search {
	position: absolute;
	bottom: 40%;
	outline: none;
	height: 25px;
	font-size: 15px;
	display: none;
}
.js_show_search {
	display: inline;
	animation: show ease 0.5s;
}

@keyframes show {
	from {
		width: 0;
	}
	to {
		width: 185px;
	}
}

.logo {
	height: 100px;
	width: 11rem;
	display: flex;
}
.logo_link img {
	height: 100%;
	width: 12rem;
	object-fit: cover;
	margin-top: 6px;
}
.list_color {
	color: #ffde3c;
	font-size: 19px;
	cursor: pointer;
}
.menu_list_home:hover span:hover {
	color: white;
}
.logo_text {
	color: white;
	position: absolute;
	padding-top: 56px;
	font-weight: 600;
	font-family: Montserrat;
	letter-spacing: 0.14em;
	cursor: default;
	background-color: black;
}

.header_bot {
	/* width: 1535px; */
	width: 100%;
	height: 43rem;
	/* background-image: url("./back.png");
    object-fit: cover;  */
	position: relative;
	top: -257px;
	z-index: 8;
}
.header_bot img {
	width: 100%;
	height: 100%;
	/* top: 53px;
    z-index: -1;
    position: relative;
    width: 100%;
    height: 92%; */
}
@keyframes slg {
	from {
		opacity: 0;
		transform: scale(0);
	}
	to {
		opacity: 1;
		transform: scale(1);
	}
}
.slg_ctn {
	position: relative;
	top: 26rem;
	margin-left: 17.5rem;
	text-transform: uppercase;
	font-family: fantasy;
	line-height: 2.1em;
	letter-spacing: 0.14em;
	transform-origin: bottom left;
	cursor: context-menu;
	animation: slg linear 1s;
}
.slg1 {
	font-size: 37px;
}

.slg2 {
	font-size: 37px;
	margin-left: 3px;
	animation: slg linear 1s;
}
.slg3 {
	color: #010101;
	letter-spacing: normal;
	font-size: 10px;
	text-transform: uppercase;
	font-family: none;
	font-weight: 400;
	letter-spacing: 1px;
	line-height: 15px;
	padding-top: 15px;
	/* animation: slg linear 1s; */
}
.start {
	/* width: 207px;
    height: 45px; */
	padding-top: 17px;
	animation: slg linear 1s;
	/* transform-origin: bottom right; */
}
.start_content {
	position: absolute;
	width: 207px;
	height: 38px;
	display: flex;
	justify-content: center;
	/* background-color: #00bfc5; */
	align-items: center;
	text-decoration: none;
	color: #000000ad;
	/* border: 1px solid; */
	letter-spacing: 0.1em;
	border: 4px solid #000000ad;
	background-color: #00bfc587;
	z-index: 6;
}
.khungback{
	width: 99.2%;
    height: 82%;
    position: absolute;
    top: 244px;
    left: 5px;

    border: 7px solid #000000cf;
    z-index: 5;
}
.start_content:hover {
	/* border: 4px solid; */
	/* background-color: #00bfc593; */
	background-color: #00bfc5;
	border: 1px solid;
	color: white;
}
.modal {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgb(0 0 0 / 49%);
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 9;
	display: none;
	backdrop-filter: blur(3px);
}
.modal.open {
	display: flex;
}
.modal_login {
	background-color: white;
	width: 600px;
	min-height: 200px;
	animation: modal_log ease 0.6s;
	border: 1px solid white;
	border-radius: 12px;
	padding: 10px 18px;
}
.modal_login_header {
	background-color: #05959a;
	height: 120px;
}
.modal_login_header {
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
	font-size: 30px;
}
.modal_login_close {
	/* background-color: #009688; */
	/* display: flex; */
	/* width: 80%; */
	position: absolute;
	/* justify-content: flex-end; */
}
.modal_login_x {
	cursor: default;
	/* position: absolute; */
	/* position: relative; */
	/* top: -17px;
    left: 19px; */
	position: absolute;
	top: -26px;
	left: 553px;
}
.modal_login_x img {
	width: 40px;
}
.modal_login_label {
	font-size: 23px;
}
@keyframes modal_log {
	from {
		opacity: 0;
		transform: translateY(-140px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}
.modal_login_body {
	display: flex;
	flex-direction: column;
}
.modal_login_footer {
	height: 26px;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	margin-top: 10px;
}
.modal_help a {
	color: blue;
	text-decoration: none;
}
.modal_help {
	padding-right: 13px;
	padding-top: 10px;
}
/* modal register */
.modal1 {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgb(0 0 0 / 49%);
	z-index: 9;
	display: none;
	align-items: center;
	justify-content: center;
	backdrop-filter: blur(3px);
}
.modal1.open {
	display: flex;
}
.modal_register {
	background-color: white;
	width: 600px;
	min-height: 400px;
	animation: modal_log ease 0.6s;
	border: 1px solid white;
	border-radius: 12px;
	padding: 10px 18px;
}
/* footer */
.footer {
	height: 20rem;
	background-color: black;
}
.lg_ft {
	height: 100px;
	width: 12rem;
	/* display: flex; */
}
.logo_footer {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 10rem;
}
.logo_link_footer img {
	height: 100%;
	width: 12rem;
	object-fit: cover;
	margin-top: 6px;
}
.logo_text_footer {
	color: white;
	padding-left: 21px;
	font-weight: 600;
	font-family: Montserrat;
	letter-spacing: 0.74em;
	cursor: default;
	text-align: center;
	width: 100%;
	/* margin-top: -12px; */
	font-size: 20px;
}
.icon_fb {
	background-color: #01446f;
}
.size_icon {
	font-size: 30px;
}
.icon_footer {
	margin: 0 10px;
	cursor: pointer;
}
.icon_fb:hover {
	background-color: blue;
}
.icon_link_footer {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 30px;
}
.list_icon_footer {
	display: flex;
}
.icon_yt {
	background-color: #ca2828;
}
.icon_yt:hover {
	background-color: red;
}
.icon_footer {
	display: flex;
	align-items: center;
	justify-content: center;
}
.icon_twitter {
	background-color: #1bb2d8;
}
.icon_twitter:hover {
	background-color: #0b44c0;
}
.icon_insagram {
	background-color: #ed5189;
}
.icon_insagram:hover {
	background-color: #f71868;
}
.icon_map {
	background-color: #4b3939;
}
.icon_map:hover {
	background-color: black;
	color: red;
}
.icon_footer a {
	height: 30px;
	border-radius: 5px;
	color: white;
}
.text_rules {
	color: white;
	text-align: center;
	padding-top: 30px;
	font-size: 17px;
}
.text_rules a {
	text-decoration: none;
	color: #00bfc5;
}

/* modal login */
.modal_taikhoan {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 50px 40px 0px 40px;
}
.modal_taikhoan input {
	border: none;
	border-bottom: 1px outset;
	width: 87%;
	height: 25px;
	outline: none;
	letter-spacing: 1px;
}
.modal_matkhau {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 30px 40px 40px 40px;
}
.modal_matkhau input {
	border: none;
	border-bottom: 1px outset;
	width: 87%;
	height: 25px;
	outline: none;
	letter-spacing: 1px;
}
.modal_login_login {
	height: 40px;
}
/* modal register */
.modal_register_header {
	background-color: #05959a;
	height: 120px;
	color: white;
	font-size: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: 600;
	border-radius: 10px;
}
.fl {
	display: flex;
	justify-content: space-between;
	padding: 20px 40px 10px 40px;
}
.fl input {
	width: 70%;
	border: none;
	border-bottom: 1px outset;
	outline: none;
	height: 25px;
}
.modal_but {
	display: flex;
	justify-content: flex-end;
	padding: 20px 40px 10px 0px;
}
.modal_but button {
	height: 30px;
	width: 20%;
}
/* .modal_register_footer {
	width: 100%;
	background-color: #05959a;
	height: 20px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
} */
.modal_but button:hover {
	background-color: #05959a;
	color: white;
	border: none;
	font-weight: 600;
}
/* Body */
.body_mid {
	height: 350px;
	background: no-repeat;
	background-size: cover;
	background-image: url("../image/bodyback.jpg");
	margin-top: -130px;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}
.advise {
	width: 20%;
	height: 270px;
	background-color: #fffffffa;
	box-shadow: 2px 3px 10px 0px black;
}
.ad1 {
	border: 15px solid #ffde3c;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.ad2 {
	border: 15px solid #0ce682;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.ad3 {
	border: 15px solid #06eaf3;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.ad_top_content1 {
	display: flex;
}
.ad_top_conten1 img {
	padding-right: 5px;
}
.atc_text1 {
	padding-top: 18px;
}
.atc_text1 p {
	color: #616466;
	font-size: 12px;
	letter-spacing: -0.6px;
	text-align: left;
	cursor: default;
}
.atc_text1 .link1 {
	color: #041721;
	text-decoration: none;
	letter-spacing: -0.6px;
	font: 700 27px/1.1667em "Montserrat";
	text-align: left;
}
.atc_text1 .link1:hover {
	color: #05959a;
}
.ad_bot_content1 {
	text-align: left;
	width: 82%;
	font-size: 16px;
	color: #616466;
	line-height: 1.45em;
	cursor: default;
}
.ad3 .ad_bot_content1 {
	padding-left: 10px;
}
.ad_top_content1 img {
	padding-right: 10px;
}
.ad2 img {
	margin-left: -25px;
}
/* best books */
.best_book_title {
	display: flex;
	align-items: center;
	justify-content: center;
	padding-top: 3rem;
	font-size: 30px;
	font-weight: 600;
	padding-bottom: 30px;
}
.image_book {
	width: 210px;
	height: 316px;
	background-size: cover;
	background-position: center center;
	border: 0.1px solid gray;
}
.list_best_books {
	display: flex;
	justify-content: space-evenly;
	padding: 0px 71px;
}
.aut_book {
	color: #b1b7ba;
	font-size: 13px;
	font-weight: 400;
}
.aut_book span {
	color: #0372c4;
}
.title_book {
	text-decoration: none;
	color: black;
	font-weight: 700;
	font-size: 15px;
	font-family: "Open Sans";
}
.tt_book {
	display: flex;
	flex-direction: column;
	align-items: center;
	line-height: 22px;
	max-width: 210px;
	text-align: center;
	padding: 10px 0px 20px 0px;
}
.image_hover {
	background-color: #ffff00b5;
	height: 100%;
	/* display: flex; */
	align-items: center;
	justify-content: center;
	display: none;
	position: relative;
	bottom: 318px;
}
.image_book:hover .image_hover {
	display: flex;
}
.search_image {
	width: 50px;
	height: 50px;
	border: 5px solid white;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 5px;
}
.search_image:hover {
	background-color: #ffffffcc;
}
.icon_search{
	width: 100%;
    height: 100%;
	text-align: center;
}
.icon_search i {
	font-size: 30px;
	font-weight: bold;
	/* position: relative;
    top: 11%; */
	position: relative;
    top: 50%;
    transform: translateY(-50%);
}
@keyframes search_book {
	from {
		opacity: 0;
		transform: translateY(20px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}
.image_book:hover .search_image {
	animation: search_book ease-in 0.3s;
}
.image_book img {
	width: 100%;
	height: 100%;
	object-position: center center;
}
/* back home */
.back_home {
	height: 40px;
	width: 40px;
	border: 4px solid #01446f;
	background-color: white;
	display: flex;
	align-items: center;
	justify-content: center;
}
.link_back_home:hover .back_home {
	background-color: #aadee2;
}
.link_back_home {
	position: fixed;
	z-index: 9;
	bottom: 20px;
	left: 20px;
	animation: backHome ease 0.5s;
	display: none;
}
.js_back_home {
	display: block;
}
@keyframes backHome {
	from {
		opacity: 0;
		transform: translateY(60px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

/* trang DetailBooks.html */

.detail_body {
	/* background-color: #efefef; */
	/* padding-left: 130px;
	padding-right: 130px; */
	padding: 30px 130px;
	display: flex;
	justify-content: space-between;
}
.detail_titleBook {
	color: #1b666a;
}
.detail_book {
	background-color: white;
	width: 73%;
	display: flex;
	justify-content: space-between;
	padding-top: 20px;
	padding-bottom: 20px;
	border-radius: 7px;
	box-shadow: 1px 1px 4px #544c4c;
}
.dt_loading{
	height: 20rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;	
}
.dt_loading > img{
	width: 8%;
}
.detail_ml {
	/* background-color: #4b3939; */
	width: 25%;
	box-shadow: 1px 1px 4px #544c4c;
	border-radius: 7px;
}
.detail_ml h1 {
	color: #1b666a;
	text-align: center;
	padding-top: 120px;
}
.ra_star {
	list-style-type: none;
	display: flex;
	font-size: 25px;
	justify-content: center;
	padding-top: 20px;
}
.js_yello {
	color: #ecd006;
}
.ra_star li {
	padding: 0px 5px 0px 5px;
	color: #a39e9eba;
	cursor: pointer;
}
.detail_img {
	height: 20rem;
	/* background-color: white; */
	/* border: 1px solid black; */
	width: 45%;
	/* padding-top: 10px; */
	/* padding-bottom: 10px; */
	border-right: 1px solid #00000017;
}
.detail_img img {
	object-fit: contain;
	height: 100%;
	width: 100%;
}
.detail_info {
	width: 55%;
	line-height: 40px;
	padding-left: 10px;
}
.title_info {
	font-size: 24px;
	padding-bottom: 10px;
	font-family: system-ui;
}
.detail_aut_book {
	font-size: 20px;
	color: #b1b7ba;
}
.detail_aut_book span {
	color: black;
}
.list_share {
	font-size: 25px;
	/* padding-left: 20px; */
}
.list_share .fb {
	color: blue;
}
.list_share .mes {
	color: #2a88f4;
}
.listt_share .tw {
	color: #25a2a4;
}
.list_share i {
	font-size: 25px;
	padding-left: 10px;
}
.detail_list_star {
	list-style-type: none;
	font-size: 25px;
	display: flex;
}
.star_full {
	color: #ecd006;
}
.star_fill {
	color: #bf9f1a;
}
.detail_list_star li {
	padding-right: 5px;
}
/* detail htgy */
.htgy {
	padding: 0px 130px 0px 130px;
}
.htgy h1 {
	text-transform: uppercase;
	font-size: 27px;
	font-family: sans-serif;
	padding-bottom: 13px;
}
.htgy_content {
	display: flex;
	justify-content: space-between;
	/* box-shadow: 1px 1px 4px #544c4c; */
	padding: 17px 17px 0px 17px;
}
/* Trang admin */
.header_admin {
	height: 70px;
	background-color: black;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.admin {
	color: #ffde3c;
	font-size: 25px;
	text-transform: uppercase;
	letter-spacing: 3px;
	font-weight: 700;
	cursor: default;
	padding-left: 50px;
}
/* .content_admin {
	background-color: whitesmoke;
} */
.header_admin a {
	color: white;
	font-size: 25px;
	text-decoration: none;
	display: flex;
	padding-right: 30px;
}
.header_admin a:hover {
	color: #ffde3c;
}
.pro_admin {
	min-height: 43rem;
	width: 20rem;
	background-color: #000000f5;
}
.content_admin {
	/* min-height: 28rem; */
	width: calc(100% - 20rem);
}
.admin_main {
	display: flex;
	/* min-height: 28rem; */
}
.prof_ad {
	/* height: 278px; */
	text-align: center;
	padding-top: 70px;
}
.prof_ad img {
	height: 200px;
	width: 200px;
}
.prof_ad p {
	padding-top: 5px;
	color: white;
}
.Ql_admin ul {
	padding-top: 70px;
	color: white;
	/* background-color: #00bfc5; */
}
.Ql_admin ul li {
	cursor: pointer;
	font-size: 16px;
	font-weight: 600;
	height: 45px;
	display: flex;
	align-items: center;
	padding-left: 30px;
	margin-top: 10px;
}
.Ql_admin ul li:hover {
	background-color: #f7f2f238;
}
.Ql_admin ul li i {
	padding-right: 7px;
}
.js_admin_active {
	background-color: whitesmoke;
	color: brown;
	border-bottom-right-radius: 5px;
	border-top-right-radius: 5px;
}
.scr {
	display: none;
}
.js_show_scr {
	display: block;
}
.table{
	padding: 0px 20px 20px 20px;
}
.table_books thead{
	font-size: 20px;
}
.table_books tbody{
	font-size: 17px;
}
.title_admin_book{
	padding: 20px;
    text-align: center;
    color: #b8983b;
}
.table table{
	border-collapse: collapse;
	width: 100%;
}
.table table td, th {
	border: 1px solid #dddddd;
	text-align: left;
	padding: 8px;
}
.view{
	text-align: center;
}
.view a i{
	font-size: 20px;
	position: relative;
	top:3px;
}
/* trang books */
.books_search {
	padding: 30px;
	display: flex;
}
.books_inp {
	height: 43px;
	outline: none;
	width: 21%;
	border: 1px solid #80808057;
	padding-left: 10px;
}
.but_search {
	height: 43px;
	width: 43px;
	font-size: 23px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-left: 1px;
	background-color: #00bac5;
	color: white;
	border: 1px solid #00000080;
	cursor: pointer;
}
.but_search:hover {
	background-color: #00aac5;
}
.books_content {
	display: flex;
	padding: 0px 30px 30px 30px;
	justify-content: space-between;
}
.books_menu {
	min-height: 20rem;
	/* border: 1px solid; */
	width: calc(23% + 14px);
}
.books_none{
	display: none;
}

.books_show {
	/* border: 1px solid; */
	/* width: 74%; */
	display: flex;
    flex-wrap: wrap;
	min-height: 34rem;
    /* justify-content: space-between; */
}

.books_show > div {
	width: calc((100% - (3 * 20px)) / 4);
	margin-right: 20px;
}

.books_show > div:nth-child(4n) {
	margin-right: 0;
}

.img_loading{
	width: 100%;
    margin-right: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 34rem;
}
.img_loading img{
	padding-right: 20px;
    width: 7%;
}

.scr_book{
	width: 74%;
}
.books_page{
	height: 70px;
	display: flex;
    align-items: center;
    justify-content: center;
	border-top: 1px solid #c1c6c691;
}
.books_number{
	display: flex;
    list-style-type: none;
	padding-top: 20px;
}
.books_number li{
	font-size: 20px;
	font-weight: 400;
	font-family: sans-serif;
	display: flex;
	align-items: center;
	padding: 2px 8px;
	cursor: pointer;
	margin: 0px 5px;
}
.books_number li i{
	background-color: #93b9bd52;
}
.books_number li:hover{
	border-radius: 15px;
	background-color: #00bac5;
	color: white;
}
.page1{
	border: 1px solid;
    border-radius: 15px;
	background-color: #00bac5;
	color: white;
}
.books_menu h1 {
	font-family: "Noto Serif", serif;
	border-bottom: 1px solid #00bac591;
	padding-bottom: 6px;
}
.abook_image {
	width: 250px;
	height: 330px;
}
.abook_image img {
	width: 100%;
	height: 100%;
	box-shadow: 0 0 12px 0 rgb(43 43 43 / 30%);
}
.books_abook {
	width: 251px;
    padding-bottom: 30px;
}
.abook_inf {
	text-align: center;
	padding: 5px 1px 0px 1px;
}
.abook_inf a {
	font-size: 18px;
}
.abook_inf .aut_book {
	font-size: 15px;
}
.abook_img_ho {
	/* background: rgb(192 209 210 / 72%); */
	width: 250px;
	height: 330px;
	position: relative;
	bottom: 334px;
	display: none;
	align-items: flex-end;
	justify-content: flex-end;
	padding: 0px 22px 10px 0px;
	flex-direction: column;
}
.abook_image:hover .abook_img_ho {
	display: flex;
	/* background: rgb(255 255 255 / 76%); */
	background: #a1a6a780;
}
.abook_img_ho a {
	font-size: 25px;
	border: 3px solid;
	height: 40px;
	width: 40px;
	border-radius: 100%;
	margin-bottom: 7px;
	color: #00bac5;
	background-color: white;
}
.abook_img_ho a i {
	position: relative;
	top: 5px;
	left: 4px;
}
@keyframes twoicon {
	from {
		transform: translateX(22px);
	}
	to {
		transform: translateX(0px);
	}
}
.abook_image:hover a {
	animation: twoicon ease-in 0.2s;
}
.abook_image:hover .a2 {
	animation: twoicon ease-in 0.3s;
}
.abook_image a:hover i {
	color: red;
}
.books_menu_menu{
	/* border: 1px solid; */
    min-height: 200px;
}
.books_menu_star{
	margin-top: 5px;
	/* border: 1px solid; */
	
}
.books_menu_star ul{
	list-style-type: none;
    padding: 0px 0px 0px 2px;
    font-size: 20px;
	padding-top: 10px;
}
.star_empty {
	color: #91918f85;
}
.books_menu_star ul li i{
	padding-right: 5px;
}
.books_menu_star ul li{
	padding-top: 5px;
	/* max-width: 200px; */
	cursor: pointer;
}
.books_menu_star ul li:hover{
	/* background-color: #00aac5; */
	box-shadow: 0px 0px 3px 0px #66606063;
	padding-left: 20px;
}
.books_menu_star ul li span{
	padding-left: 152px;
    color: #048088;
	display: none;
}
.star5:hover span{
	display: inline;
}
.star4:hover span{
	display: inline;
}
.star3:hover span{
	display: inline;
}
.star2:hover span{
	display: inline;
}
.star1:hover span{
	display: inline;
}
.show_option{
	width: 74%;
    margin-left: 30px;
    border-bottom: 1px solid #00bac591;
	display: flex;
    align-items: center;
    justify-content: flex-end;
}
.l_show_x4, .l_show_x3, .l_show_x2{
	display: flex;
	padding-bottom: 1px;
}
.l_show_x4 span{
	border: 3px solid;
    background-color: black;
	margin-left: 1.5px;
}
.l_show_x3 span{
	border: 3px solid;
    background-color: black;
	margin-left: 1.5px;
}
.l_show_x2 span{
	border: 3px solid;
    background-color: black;
	margin-left: 1.5px;
}
.l_show_x2 .x2{
	padding-right: 7px;
}
.show_x2,.show_x3,.show_x4{
	margin-right: 10px;
	cursor: pointer;
}
.show_x4 .l_show_x4 span{
	border: 3px solid #097e85;
    background-color: #097e85;
}
.show_x4:hover .l_show_x4 span{
	border: 3px solid #097e85;
    background-color: #097e85;
}
.show_x3:hover .l_show_x3 span{
	border: 3px solid #097e85;
    background-color: #097e85;
}
.show_x2:hover .l_show_x2 span{
	border: 3px solid #097e85;
    background-color: #097e85;
}
.classify{
	list-style-type: none;
    font-size: 18px;
    font-family: sans-serif;
    padding: 20px 0px 0px 10px;
    line-height: 40px;
    color: #909085;
}
.classify li a:hover{
	cursor: pointer;
	color: #00bac5;
	font-weight: 600;
}
.year_pub{
	display: none;
    padding-left: 30px;
	flex-direction: row;
    flex-wrap: wrap;
	padding-right: 30px;
}
.year_pub span{
	padding: 10px 20px 0px 0px;
}
.year_pub span a{
	border: 1px solid;
    padding: 5px;
	cursor: pointer;
	position: relative;
}
/* .year_pub span a::before{
	position: absolute;
    content: "";
    background: #00bac5;
    width: 100%;
    height: 0;
    top: 0;
    left: 0;
    -webkit-transition: height .3s ease;
    transition: height .3s ease;
    z-index: -1;
}
.year_pub span a:hover::before{
	height: 100%;
} */
.year_pub span a:hover{
	padding: 3px;
    border: 4px solid #189198;
    color: black;
}

.js_clas{
	color: #00bac5;
	font-weight: 600;
}
.all{
	color: #00bac5;
	font-weight: 600;
}
.js_show_year{
	display: flex;
}
.classify i{
	font-size: 22px;
    position: relative;
    top: 5px;
    color: #088188;
}
.books_menu_author{
	padding-top: 12px;
}
.content_author{
	list-style-type: none;
	padding-top: 15px;
	line-height: 40px;
    /* color: #909085; */
	font-size: 18px;
	display: flex;
    flex-wrap: wrap;
}
.content_author a{
	border: 3px solid #90908536;
    padding: 5px;
    cursor: pointer;
    position: relative;
    color: #71716a;
}
.content_author a::before{
	position: absolute;
    content: "";
    background: #00bac5;
    width: 100%;
    height: 0;
    top: 0;
    left: 0;
    -webkit-transition: height .3s ease;
    transition: height .3s ease;
    z-index: -1;
}
.content_author a:hover::before{
	height: 100%;
}
.content_author a:hover{
	color: white;
    border: 3px solid #129ba3;
}
.content_author li{
	padding: 0px 20px 6px 0px;
}
.publisher{
	display: none;
	flex-direction: column;
	padding-left: 20px;
}
.js_show_publisher{
	display: flex;
}
.publisher a{
	cursor: pointer;
	padding: 10px;
}
.publisher a:hover{
	background-color: #bdefee3d;
    border-radius: 14px;
    font-weight: 600;
    color: #6c6767;
}
.js_logout{
	display: flex;
}
/* form validate */
.vali span{
	left: 0;
    width: 0;
    border-bottom: 3px solid #25c1c7;
    position: absolute;
    bottom: 0;
	transition: 0.3s;
}
.vali .ckeck{
    bottom : 42%;

}
.vali input{
	width: 100%;
}
.vali{
	position: relative;
    width: 70%;
}
.vali input:focus ~ span{
	width: 100%;
}
.error small{
	color: #ff0000d4;
}
.error input{
	border-bottom: 2px solid #ff0000d4;
	transition: 0.3s;
}
/* add to cart */
.addcart{
	cursor: pointer;
	background-color: #1b666a;
    width: 80%;
    text-align: center;
    color: white;
    border-radius: 5px;
    font-weight: 400;
    font-size: 18px;
}
.addTocart{
	padding-top: 7px;
}
.modal_cart{
	background-color: white;
    min-width: 800px;
    min-height: 200px;
    animation: modal_log ease 0.6s;
    border: 1px solid white;
    border-radius: 12px;
    padding: 10px 18px;
}
.modal_close_cart{
	position: relative;
}
.close_cart{
	position: absolute;
    top: -26px;
    right: -36px;
	cursor: default;
}
.close_cart > img{
	width: 40px;
}
.js_openCart{
	display: flex;
}
.modal_header_cart{
	display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 30px;
	background-color: #05959a;
    height: 80px;
}
.modal_header_cart > i{
	padding: 0px 20px;
}
.remov{
	width: 90px;
    height: 40px;
    background-color: #05959a;
    color: white;
	display: flex;
    align-items: center;
    justify-content: center;
    font-size: 17px;
	border-radius: 3px;
	cursor: default;
}
.remov:hover{
	box-shadow: 1px 1.5px 4px 0px #00000085;
    font-weight: 600;
	background-color: #058f94;
}
.nextcart:hover{
	box-shadow: 1px 1.5px 4px 0px #00000085;
    font-weight: 600;
	background-color: #058f94;
}
.nextcart{
	width: 80px;
    height: 40px;
    background-color: #05959a;
	color: white;
	display: flex;
    align-items: center;
    justify-content: center;
    font-size: 17px;
	border-radius: 3px;
	cursor: pointer;
}
/* .pro .menu_list a span{
	font-size: 16px;
} */
.detail_img{
	position: relative;
    top: 10px;
}
/* profile */
.in4{
	display: flex;
	justify-content: center;
	padding-top: 6px;
}
.inf{
	border: 1px solid;
	width: 94%;
	position: relative;
	border-color: #00000063;
}
.pro_ava{
	background-color: #1c8adb;
    width: 11rem;
    height: 13rem;
    position: absolute;
    top: 0;
    left: -1px;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
	justify-content: center;
    display: flex;
    align-items: flex-end;
}
.pro_ava img{
	border-radius: 100px;
    width: 10rem;
    height: 10rem;
    padding-bottom: 10px;
}
/* numcart */
.numcart{
	display: flex;
    position: relative;
}
.numelcart{
	width: 15px;
    height: 15px;
    font-size: 13px;
    background-color: white;
    border-radius: 100px;
    font-weight: 800;
    color: red;
    position: absolute;
    top: -8px;
    right: -16px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.numelcart p{
	padding-top: 1px;
}
/* noi dung cart */
.contentCart table {
	font-family: arial, sans-serif;
	border-collapse: collapse;
	width: 100%;
}
  
.contentCart table td, th {
	border: 1px solid #dddddd;
	text-align: center;
	padding: 8px;
  }
  
.contentCart table tr:nth-child(even) {
	background-color: #dddddd;
  }
.imgCart{
	width: 25px;
}
.contentCart i{
	font-size: 27px;
    font-weight: 600;
    color: red;
	cursor: pointer;
}
.okCart{
	display: flex;
    padding-top: 20px;
    justify-content: space-between;
}
/* comment */
.comments{
	padding: 0px 130px 20px 130px;
}
.comments h1{
	text-transform: uppercase;
    font-size: 27px;
    font-family: sans-serif;
    padding-bottom: 13px;
}
.content_cmt{
	display: flex;
    justify-content: space-between;
}
.cmt{
	display: flex;
	padding-bottom: 11px;
}
.imgCmt img{
	width: 36px;
    border-radius: 100px;
    border: 1px solid #1b666ab0;
}
.nameCmt{
	padding-left: 10px;
}
.nameCmt p{
	padding: 2px 0px 1px 5px;
}
.name{
	font-weight: 600;
    font-family: sans-serif;
    font-size: 15px;
	display: flex;
}
.cmtLike{
	display: flex;
}
.cmtLike p{
	padding-right: 10px;
    font-size: 13px;
	color: blue;
	cursor: default;
}
.date{
	padding-left: 14px;
    font-size: 12px;
    padding-top: 3px;
	color: #00000047;
}
.cmts{
	padding: 0px 17px 0px 17px;
	width: 73%;
}
.tkratings{
	width: 25%;
	border-radius: 7px;
	border: 1px solid #00000085;
	display: flex;
    align-items: center;
    justify-content: center;
	max-height: 9rem;
}
.cmtrat{
	width: 90%;
	padding-left: 10px;
}
.iconS{
	color: #ecd006;
}
.iconS .bx-star{
	color: #0000004a;;
}
.tk5s,.tk4s,.tk3s,.tk2s,.tk1s{
	display: flex;
}
.startk{
	width: 50%;
    position: relative;
    display: flex;
	align-items: center;
	margin-left: 10px;
}
.tkback{
	background-color: #e2dcdc;
    width: 100%;
    height: 10px;
}
.tk5s .tkst{
	width: 30%;
    background-color: black;
    height: 10px;
    position: absolute;
}
.tk4s .tkst{
	width: 20%;
    background-color: black;
    height: 10px;
    position: absolute;
}
.tk3s .tkst{
	width: 40%;
    background-color: black;
    height: 10px;
    position: absolute;
}
.tk2s .tkst{
	width: 5%;
    background-color: black;
    height: 10px;
    position: absolute;
}
.tk1s .tkst{
	width: 5%;
    background-color: black;
    height: 10px;
    position: absolute;
}
.tkst{
	border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.slstar{
	position: absolute;
    right: -24px;
    font-weight: 600;
    font-family: monospace;
    color: #00000069;
}
.inpcmt{
	display: flex;
    padding-left: 10px;
    align-items: center;
    width: 90%;
	position: relative;
}
.inpcmt input{
	height: 26px;
    border: none;
    border-bottom: 1px solid #baa9a9;
    width: 100%;
	outline: none;
	padding-left: 5px;
}
.inpcmt span{
	width: 0px;
    border-bottom: 2px solid #1b666a;
    position: absolute;
    bottom: 7px;
	transition: 0.4s;
	left: 10px;
}
.inpcmt input:focus ~ span{
	width: 99%;
}
/* page vcart */
.bodyVcart{
	/* min-height: 25rem; */
	padding: 30px 130px;
	display: flex;
    justify-content: space-between;
}
.voucher{
	border: 1px solid black;
    min-height: 20rem;
    width: 60%;
	padding-top: 15px;
	border-radius: 5px;
}
.bodyVoucher{
	padding-top: 15px;
	padding-left: 40px;
    line-height: 33px;

}
.voucher h1{
	text-align: center;
	color: #05959a;
	position: relative;
}
.voucher h1 img{
	position: absolute;
    width: 120px;
    top: -14px;
    right: 0px;
}
.cntV{
	display: flex;
}
.cntText{
	padding-left: 20px;
}
.cntV input{
	margin-left: 20px;
}
.cntV span i{
	padding-right: 7px;
}
.cntV span{
	font-weight: 600;
	font-family: sans-serif;
}
.subVcart{
	display: flex;
    justify-content: flex-end;
    padding-top: 10px;
    padding-right: 14px;
}
.subVcart button{
	width: 5rem;
    height: 32px;
    background-color: #05959a;
    border: 1px solid #9ce6f4;
    color: white;
    border-radius: 7px;
}
.subVcart button:hover{
	box-shadow: 1px 1px 9px 1px #0000005c;
}
.cntText img{
	width: 15px;
	margin-left: 15px;
}
.VListbooks{
	width: 30%;
    border: 1px solid black;
	padding-top: 15px;
	border-radius: 5px;
}
.VListbooks h1{
	text-align: center;
	color: #05959a;
	position: relative;
}
.imageLB img{
	width: 50px;
	height: 80px;
    border: 1px solid #00000033;
}
.imageLB{
	width: 52px;
}
.bodyLB{
	justify-content: center;
	display: grid;
	gap: 20px 25px;
    padding: 20px 50px 0px 50px;
	text-align: center;
	grid-template-columns: auto auto auto;
}
.loadImg{
	height: 193px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 52px;
}
.loadImg img{
	width: 2rem;
}
.js_formRating button{
	border: none;
    background-color: white;
	color: #a39e9eba;
}
.js_formRating button i{
	font-size: 25px;
    /* color: #a39e9eba; */
}
.js_formRating li{
	cursor: default;
}
/* page profile */
.newprofile{
	background-color: whitesmoke;
	box-shadow: 4px -2px 9px -3px #0000003b;
	z-index: 0;
}
.content_profile{
	background-color: white;
}
.newpro_ad p{
	color: black;
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
	padding-top: 10px;
}
.div{
	padding-top: 70px;
    background-color: #0597c5;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
    width: 66%;
    box-shadow: 2px 1px 6px #000000a6;
	position: relative;
}
.newpro_ad{
	padding-top: 0;
	display: flex;
	align-items: center;
	flex-direction: column;
}
.backgr_pro{
	top: 0;
    left: -58px;
    position: absolute;
    border-radius: 0;
    width: 153.7%;
    /* padding-top: 20px; */
	height: 50px;
    box-shadow: none;
	background-color: #0597c5;
	/**/
	font-size: 23px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 15px;
    color: #2b2828;
}
.backgr_pro i:hover{
	color: white;
	cursor: pointer;
}
.inf_pro{
	padding: 40px 20px 0px 20px;
}
.inf_pro ul{
	line-height: 37px;
    list-style-type: none;
}
.inf_pro .titleinf{
	font-weight: 600;
    color: #1164a1;
    padding-right: 7px;
}
.inf_pro .titleinf i{
	position: relative;
	font-size: 20px;
    top: 2px;
}
.fun_voucher{
	background-color: #edf9f733;
    width: 8rem;
    height: 8rem;
    font-size: 17px;
    font-family: cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px;
	position: relative;
	border: 2px solid #948d8d66;
	border-radius: 3px;
}
.fun_voucher .icon{
	text-align: center;
}
.fun_voucher i{
	font-size: 29px;
}
.fun_voucher .bx-bookmark{
	position: absolute;
    top: -2.8px;
    right: 0;
    font-size: 20px;
	/* color: #948d8d; */
}
.fun_voucher .bx-bookmark-heart{
	position: absolute;
    top: -2.8px;
    right: 0;
    font-size: 20px;
	/* color: #948d8d; */
}
.function{
	padding: 10px 0px 0px 50px;
	display: flex;
}
.bigfun{
	padding-right: 20px;
}
.fun_voucher:hover{
	box-shadow: 1px 1px 6px #00000078;
	cursor: default;
}
.boder_click{
	border: 2px solid #0597c5;
}
.text_color{
	color: #0597c5;
}
.bodyfun{
	padding: 0px 50px 0px 50px;
}
.bodyfun h1{
	text-align: center;
    padding-bottom: 10px;
}
.funbody{
	min-height: 30rem;
    /* border: 1px solid; */
}
.hiddenSr{
	display: none;
}
.showSr{
	display: block;
}
.disflex{
	display: flex;
}
.table_vrental{
	font-family: arial, sans-serif;
	border-collapse: collapse;
	width: 100%;
}
.table_vrental td, th {
	border: 1px solid #dddddd;
	text-align: center;
	padding: 8px;
	cursor: default;
}
.table_vrental th{
	border: 2px solid #5d5c5c;
}
.table_vrental td .bxs-show{
	font-size: 20px;
	color: #097fa4;
	cursor: pointer;
}
/* .table_vrental tr:nth-child(even) {
	background-color: #dddddd;
  } */
.status{
	display: flex;
    justify-content: center;
}
.status .unexD{
	background-color: #6fe66f;
    border-radius: 20px;
    color: #5b6565;
    width: 75%;
}
.exD{
	background-color: #bcb4b4b8;
	border-radius: 20px;
    color: #5b6565;
    width: 75%;
}
.modal_viewOder{
	position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgb(0 0 0 / 49%);
    backdrop-filter: blur(2px);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 10;
}
.content_viewOder{
	width: 753px;
    min-height: 20rem;
    background-color: white;
	padding-top: 15px;
	border-radius: 3px;
}
.content_viewOder h1{
	text-align: center;
    color: #05959a;
    position: relative;
}
.content_viewOder h1 img{
	position: absolute;
    width: 120px;
    top: -14px;
    right: 0px;
}
.showM{
	display: flex;
}
.funStatus{
	font-family: arial, sans-serif;
	padding-bottom: 10px;
	display: flex;
	align-items: flex-end;
	position: relative;
}
.unex{
	/* padding-left: 20px; */
	padding-left: 8px;
}
.unex p{
	width: 93px;
    text-align: center;
    background-color: #6fe66f;
    border-radius: 20px;
	cursor: default;
}
.ex{
	padding-left: 20px;
}
.ex p{
	background-color: #bcb4b4b8;
    border-radius: 20px;
    color: #5b6565;
    width: 93px;
    text-align: center;
	cursor: default;
}
.spantext span{
	color: #05959a;
    font-weight: 600;
}
.ipnutInf{
	width: 98%;
    border: none;
    border-bottom: 1px solid;
    background: none;
	font-size: 15px;
	padding-top: 8px;
	color: #000000a3;
}
.ipnutInf:focus{
	outline: none;
}
.butInf button{
	width: 60px;
    height: 30px;
    border-radius: 5px;
    background-color: #1164a1;
    color: white;
    border: none;
	cursor: pointer;
	position: absolute;
    right: 6px;
}
.butInf{
	position: relative;
    width: 100%;
    padding-top: 15px;
}
.cssnone{
	display: none;
}
.cssblock{
	display: block;
}

/* new page admin */
.iconFunAdmins{
	display: flex;
	padding: 25px 30px 25px 0px;
}
.funBookad{
	display: flex;
    border: 2px solid;
    width: 115px;
    height: 115px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
	background-color: whitesmoke;
	margin-left: 30px;
	border-radius: 4px;
}
.funBookad:hover{
	/* border: 3px solid #102f41; */
    box-shadow: 1px 2px 10px #fdc111;
}
.iconAd{
	font-size: 30px;
}
.texticonad{
	font-size: 11px;
	cursor: default;
}
.listRenbooks table{
	font-family: arial, sans-serif;
	border-collapse: collapse;
	width: 100%;
}
.listRenbooks{
	padding: 0px 30px 20px 30px;
	overflow-y: auto;
    max-height: 500px;
}
.listRenbooks::-webkit-scrollbar-track {
	--webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
	border-radius: 10px;
}
  
.listRenbooks::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background-image: -webkit-gradient(linear,
					   left bottom,
					   left top,
					   color-stop(0.44, rgb(122,153,217)),
					   color-stop(0.72, rgb(73,125,189)),
					   color-stop(0.86, rgb(28,58,148)));
}
/**  STYLE 6 */
/* .listRenbooks::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}
  
.listRenbooks::-webkit-scrollbar-thumb {
	background-color: #F90; 
	background-image: -webkit-linear-gradient(45deg,rgba(255, 255, 255, .2) 25%,
						  transparent 25%,
						  transparent 50%,
						  rgba(255, 255, 255, .2) 50%,
						  rgba(255, 255, 255, .2) 75%,
						  transparent 75%,
						  transparent)
  } */
.listRenbooks::-webkit-scrollbar {
    width: 6px;		
    background-color: #F5F5F5;
} 
.listRenbooks td, th {
	border: 1px solid #dddddd;
	text-align: center;
	padding: 8px;
	cursor: default;
}
.listRenbooks th{
	border: 1px solid #5d5c5c;
}
.tableBadmin td img{
	width: 30px;
}
.tableBadmin td .bx-x{
	font-size: 30px;
	color: red;
	cursor: pointer;
}
.tableBadmin td .bxs-edit{
	font-size: 22px;
	color: #26ce26;
}
.addNewBook{
	padding: 0px 30px 25px 30px;
	/* display: none; */
	justify-content: center;
	align-items: center;
}
.divAdd{
	border: 1px solid;
	padding: 8px;
	/* display: flex;
	flex-direction: column;
    justify-content: center;
    align-items: center; */
	width: 60%;
	padding: 10px 20px 10px 20px;
	position: relative;
	border-radius: 3px;
}
.delenewadd{
	position: absolute;
    top: 0;
    right: 0;
    font-size: 27px;
    color: red;
}
.delenewadd i{
	cursor: pointer;
}
.divAdd h3{
	text-align: center;
}
.contentAdd{
	/* padding-top: 10px; */
	padding: 10px 25px 0px 25px;
}
.elAdd{
	display: flex;
	padding-bottom: 15px;
	position: relative;
	/* justify-content: space-between; */
}
.elAdd input{
	border: none;
    border-bottom: 1px solid;
    margin-left: 15px;
	outline: none;
	width: 75%;
}
.textImage{
	padding-bottom: 15px;
	display: flex;
}
.chooseImg{
	padding-left: 15px;
	display: flex;
}
.chooseImg #btnImg{
	height: 21px;
    width: 80px;
    background-color: #8bdcf0;
    border: 1px solid #00000087;
	text-align: center;
}
.chooseImg span{
	font-size: 13px;
    font-weight: 600;
    color: #00000094;
	padding: 5px 5px 0px 5px;
}
.butSubmit{
	padding: 10px 25px 5px 25px;
    display: flex;
    justify-content: flex-end;
}
.butSubmit button{
	width: 67px;
    height: 27px;
    background-color: #8bdcf0;
    border: 1px solid;
	cursor: pointer;
}
.butSubmit button:hover{
	border: 2px solid;
}
.elAdd .Elspan{
	width: 0%;
	border-bottom: 2px solid #1b666a;
    position: absolute;
    bottom: 15px;
    transition: 0.4s;
    left: 88px;
}
.elAdd input:focus ~ span {
	width: 75%;
}
.span2{
	width: 0%;
	border-bottom: 2px solid #1b666a;
    position: absolute;
    bottom: 14px;
    transition: 0.4s;
	left: 70px;
}
.span3{
	width: 0%;
	border-bottom: 2px solid #1b666a;
    position: absolute;
    bottom: 14px;
    transition: 0.4s;
	left: 133px;
}
.span4{
	width: 0%;
	border-bottom: 2px solid #1b666a;
    position: absolute;
    bottom: 15px;
    transition: 0.4s;
	left: 90px;
}
.chartBook{
	padding: 0px 30px 25px 30px;
}
.highchar1{
	min-width: 310px;
    max-width: 100%;
    height: 400px;
    margin: 0 auto;
}
.boderFun{
	border: 3px solid #fdc111
}
.searchBooks{
	display: flex;
    padding: 0px 30px 8px 30px;
}
.searchBooks .iconSearch{
	border-radius: 2px;
	font-size: 20px;
	background-color: #3edee1;
    display: flex;
    justify-content: center;
    align-items: center;
	width: 30px;
    height: 30px;
}
.searchBooks .inpsearch input{
	outline: none;
	height: 30px;
    border: none;
    border-bottom: 1px solid #00000061;
    margin-left: 4px;
	padding-top: 5px;
    padding-left: 5px;
    font-size: 15px;
}
.funEdit{
	padding: 0px 30px 25px 30px;
    /* display: flex; */
    justify-content: center;
    align-items: center;
	/* display: flex; */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgb(0 0 0 / 49%);
    backdrop-filter: blur(2px);
    z-index: 10;
}
.bodyedit h3 i{
	position: absolute;
    font-size: 24px;
    color: red;
    font-weight: 600;
    right: 2px;
    top: 2px;
}
.bodyedit{
	border: 1px solid;
    width: 50%;
    padding: 10px 20px 10px 20px;
	min-height: 243px;
	position: relative;
	background-color: white;
}
.imageEdit img{
	height: 208px;
}
.bodyedit h3{
	text-align: center;
}
.bdedit{
	padding-top: 10px;
	display: flex;
}
.contentEdit{
	padding-left: 20px;
	padding-top: 10px;
    width: 74%;
}
.eledit{
	display: flex;
	padding-bottom: 20px;
	justify-content: space-between;
}
.eledit input{
	padding-left: 7px;
    outline: none;
    border: none;
    border-bottom: 1px solid #00000066;
	width: 71%;
}
.butSubmitEdit{
	display: flex;
    justify-content: flex-end;
    padding-top: 10px;
}
.butSubmitEdit button{
	width: 62px;
    height: 30px;
	cursor: pointer;
	border-color: #fdc111;
}
/* sr3 */
.bodyRenderOders{
	padding: 25px 30px 25px 30px;
}
.listRenOders table {
	font-family: arial, sans-serif;
	border-collapse: collapse;
	width: 100%;
  }
  
.listRenOders td, th {
	border: 1px solid #dddddd;
	text-align: center;
	padding: 8px;
}
.listRenOders th{
	border: 1px solid #5d5c5c;
}
.divi{
	font-size: 20px;
    color: #097fa4;
    cursor: pointer;
}
.bx-check-circle{
	font-size: 18px;
    color: green;
}
.butPaystatus{
	font-size: 12px;
    width: 50px;
    height: 20px;
    text-align: center;
    padding-bottom: 2px;
}
.bx-x-circle{
	font-size: 18px;
    color: red;
}
.chartOder{
	padding: 0px 30px 25px 30px;
}
.highchar2{
	min-width: 310px;
    max-width: 100%;
    height: 400px;
    margin: 0 auto;
}
.renderListUser{
	padding: 25px 30px 25px 30px;
}
.bodyrenderUser table{
	font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
.bodyrenderUser table td, th{
	border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
    cursor: default;
}
.bodyrenderUser table th{
	border: 1px solid #5d5c5c;
}
.sendmail i{
	font-size: 20px;
    color: #0e0ed0;
	cursor: pointer;
}
/* like book profile */
.bodylikeB{
	min-height: 30rem;
}
.ellike{
	/* border: 1px solid; */
    width: 188px;
    display: flex;
	border: 1px solid #02020252;
	border-radius: 3px;
}
.ellike img{
	width: 150px;
	height: 227px;
}
.iconlistLi{
	font-size: 23px;
	display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 6px;
}
.renderlikelist{
	display: flex;
    flex-wrap: wrap;
	padding-top: 10px;
	/* justify-content: center; */
	/* display: grid; */
    /* flex-wrap: wrap; */
    /* grid-template-columns: auto auto auto auto auto;
    text-align: left; */
}
.paddingEllike{
	padding: 0px 30px 30px 0px;
	/* width: 188px; */
}
.chartBookoder{
	padding: 0px 30px 25px 30px;
	/* display: none; */
	align-items: center;
	justify-content: center;
}
.highchar4{
	min-width: 310px;
	height: 400px;
	max-width: 50%;
	/* margin: 0 auto; */
}
.highchar5{
	min-width: 310px;
	height: 400px;
	max-width: 50%;
	margin: 0 auto;
}
.bxs-pie-chart-alt-2{
	font-size: 21px;
    color: #01BAF2;
    cursor: pointer;
}
.submitdeLike{
	background: none;
    border: none;
}
.submitdeLike i{
	font-size: 23px;
    cursor: pointer;
}
.bannerdelete{
	position: fixed;
    z-index: 11;
    background-color: #0000001a;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    justify-content: center;
    align-items: center;
}
.bodybanner{
	background-color: white;
    min-width: 300px;
    min-height: 120px;
	border: 1px solid #afa8a8;
}
.textban{
	padding: 30px;
    text-align: center;
}
.chooseban{
	display: flex;
    justify-content: space-around;
}
.huyban , .okeban{
	width: 25%;
    text-align: center;
    border: 1px solid #0000006e;
    padding: 5px 0px 5px 0px;
	cursor: pointer;
	border-radius: 5px;
}
.okeban{
	background-color: #ff0000b8;
    color: white;
}
.textban i{
	color: #ffa705;
    font-size: 20px;
    position: relative;
    top: 2px;
    margin-right: 5px;
}
.iconsearchfile{
	border: 1px solid #999;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #fdc1118c; */
    border-radius: 2px;
	margin-top: -13px;
	cursor: pointer;
}
.showsearchfile{
	padding-left: 5px;
	padding-top: 7px;
	position: relative;
	display: none;
	animation: search_file ease 0.6s;
}
.disBlock{
	display: block;
}
/* input type file */
.custom-file-input::-webkit-file-upload-button {
	visibility: hidden;
}
.custom-file-input{
	width: 30px;
    height: 30px;
}
.custom-file-input::before {
	content: '+';
	display: flex;
	background: linear-gradient(top, #f9f9f9, #e3e3e3);
	border: 1px solid #999;
	border-radius: 3px;
	outline: none;
	white-space: nowrap;
	/* -webkit-user-select: none; */
	cursor: pointer;
	text-shadow: 1px 1px #fff;
	font-weight: 700;
	font-size: 22px;
	width: 28px;
    height: 28px;
    justify-content: center;
    align-items: center;
}
.custom-file-input:hover::before {
	border-color: black;
}
.custom-file-input:active::before {
	background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}
.namefile{
	font-size: 13px;
    color: #878282bf;
    position: absolute;
    top: 7px;
    left: 40px;
}
@keyframes search_file {
	from {
		opacity: 0;
		transform: translateX(-50px);
		/* width: 0; */
	}
	to {
		opacity: 1;
		transform: translateX(0);
		/* width: 30px; */
	}
}
@keyframes add_file {
	from {
		/* opacity: 0; */
		margin-left: 30px;
	}
	to {
		/* opacity: 1; */
		margin-left: 100px;
	}
}
.iconsearchfile:hover{
	border-color: black;
}
.modal_searchF{
    position: fixed;
    background: rgb(0 0 0 / 49%);
    backdrop-filter: blur(2px);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 15;
	/* display: flex; */
    justify-content: center;
    align-items: center;
	display: none;
}
.bodysearchF{
	min-width: 50rem;
    min-height: 40rem;
    background-color: white;
}
.table_searchF{
	padding: 5px 15px 0px 15px;
}
.iconsSearchF{
	display: flex;
    justify-content: space-between;
    padding-top: 5px;
	position: relative;
}
.iconcolseF{
	position: absolute;
    right: 4px;
	color: red;
}
.iconcolseF i{
	font-weight: 600;
    font-size: 26px;
	cursor: pointer;
}
.icondowload{
	padding-left: 13px;
    padding-top: 3px;
}
.icondowload i{
	font-size: 20px;
	cursor: pointer;
}
.dispFlEx{
	display: flex;
}
.boderFunsearch{
	border: 3px solid #11adfd;
}
.table_searchF{
	max-height: 100%;
	max-width: 1158px;
}
.chooseDownload{
	display: none;
	background-color: white;
    min-width: 150px;
    min-height: 75px;
    position: absolute;
    top: 25px;
    left: 16px;
    border-radius: 2px;
    border: 1px solid #a09d9d;
    box-shadow: rgb(136 136 136) 2px 2px 5px;
}
.bodychoosedownload{
	padding-top: 5px;
}
.bodychoosedownload div{
	padding: 0.5em 1em;
    color: rgb(51, 51, 51);
    font-size: 11px;
	cursor: pointer;
	display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}
.bodychoosedownload div:hover{
	background-color: #6262f3;
    color: white;
}
.dlblock{
	display: block;
}
.bggray{
	background-color: #e5e2e2;
}
.left100{
	margin-left: 100px;
	animation: add_file ease 0.6s;
}
.left6{
	margin-left: 6px;
}
/* add book file */
.modal_viewaddfile{
	position: fixed;
    background: rgb(0 0 0 / 49%);
    backdrop-filter: blur(2px);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 15;
    display: none;
    justify-content: center;
    align-items: center;
}
.flexdis{
	display: flex;
}
.bodyaddfile{
	min-width: 50rem;
    min-height: 40rem;
    background-color: white;
	border-radius: 3px;
}
.chooseiconfile{
	padding: 10px 15px 0px 15px;
    display: flex;
    justify-content: space-between;
	position: relative;
}
.chooseiconfile i{
	font-size: 28px;
    color: red;
    font-weight: 600;
    position: absolute;
    right: 5px;
    top: 5px;
	cursor: pointer;
}
.butsubfile{
	background-color: #3f6ad7;
    padding: 2px;
    font-size: 13px;
    font-weight: 600;
    color: white;
    width: 58px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    cursor: pointer;
}
.butsubfile:hover{
	background-color: #a9b7dc;
	color: black;
}
.tablie_fileadd{
	padding: 10px 15px 5px 15px;
	max-width: 1000px;
}
.tablie_fileadd table td{
	font-size: 14px;
}
.showblock{
	display: block;
}
.funBookad{
	position: relative;
    z-index: 9;
}
.fill{
	padding-right: 5px;
	position: relative;
}
.fill .iconSearch{
	border: 1px solid #00000057;
}
.fill .iconSearch:hover{
	border: 1px solid black;
	cursor: pointer;
}
.bodyfill{
	padding: 5px;
	position: absolute;
    min-width: 150px;
    min-height: 50px;
    left: 15px;
	border-radius: 4px;
    border: 1px solid #0000008c;
	background-color: whitesmoke;
	display: none;
}
.fitext{
	font-size: 12px;
    padding-bottom: 5px;
	font-weight: 600;
}
.fyear{
	min-width: 185px;
	padding-left: 10px;
}
.fillyear{
	min-width: 180px;
    min-height: 25px;
	outline: none;
}
.fillfic{
	min-width: 200px;
	min-height: 25px;
	outline: none;
}
.icfil{
	border-radius: 3px;
    font-size: 14px;
    background-color: #3edee1;
    padding: 5px 12px;
    cursor: pointer;
}
.subfill{
	display: flex;
    align-items: flex-end;
    padding-left: 5px;
}
.icfil:hover{
	border: 1px solid;
}
.js_nn{
	display: flex;
}
.iconfillV{
	display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3be8d8;
    font-size: 20px;
    padding: 5px;
    position: relative;
	border: 1px solid #00000057;
	border-radius: 2px;
}
.iconfillV:hover{
	border: 1px solid black;
    cursor: pointer;
}
.bodyfillV{
	padding: 18px;
    position: absolute;
    min-width: 150px;
    min-height: 50px;
    left: 15px;
    border-radius: 4px;
    border: 1px solid #0000008c;
    background-color: whitesmoke;
	top: 31px;
	z-index: 9;
	display: none;
    flex-direction: column;
}
.dflexFV{
	display: flex;
}
.datetext{
	font-size: 12px;
    padding-bottom: 5px;
    font-weight: 600;
}
.monthV, .yearV{
	padding-left: 15px;
}
.dayV select{
	width: 70px;
}
.monthV select{
	width: 87px;
}
.yearvinput::-webkit-datetime-edit-month-field{
  display:none;
}
.yearvinput::-webkit-datetime-edit-day-field{
  display:none;
}
.yearvinput::-webkit-datetime-edit-text{
	display:none;
}
.inpdthu::-webkit-datetime-edit-day-field{
	display:none;
}
.inpdthu::-webkit-datetime-edit-text{
	display:none;
}
/* ::-webkit-datetime-edit-day-field,
::-webkit-datetime-edit-text */
.semonth *{
	background-color: whitesmoke;
	border: 1px solid #0000008c;
}
.fillstatus{
	cursor: default;
}
.fillstatus .datetext{
	padding-top: 9px;
    padding-bottom: 8px;
}
.fillstatus label{
	padding-right: 20px;
    padding-left: 5px;
    font-size: 15px;
}
.FSexp:hover{
	cursor: pointer;
    color: #ed0808;
}
.FSunex:hover{
	cursor: pointer;
    color: #47b447;
}
.FSallF:hover{
	cursor: pointer;
    color: #1474c8;
}
.butFillSt{
	width: 35px;
    height: 22px;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #00000026;
	position: absolute;
    right: 0;
	cursor: pointer;
	background-color: #298394;
	color: white;
	font-size: 13px;
}
.butFillSt:hover{
	background-color: #89cfdc;
	color: #797474;
}
.ctbutfillS{
	padding-top: 8px;
    position: relative;
    height: 22px;
}
.inpCategories{
	width: 40%;
    padding-left: 3px;
    outline: none;
    border: none;
    border-bottom: 1px solid #00000057;
    margin-left: 14px;
}
.imglinkip{
	margin-left: 5px;
    outline: none;
    border: none;
    border-bottom: 1px solid;
}
/* tkdoanhthu */
.tkdoanhthu{
	padding-bottom: 20px;
}
.bodydt{
	display: flex;
	justify-content: space-around;
}
.dthu1{
	border: 1px solid #d5c7c7;
    border-radius: 2px;
    width: 22%;
    height: 5.5rem;
    padding: 11px;
	background-color: whitesmoke;
	box-shadow: 5px 5px 8px 0px #d6cfcf;
}
.numdthu1{
	color: #0fa2a5;
	font-size: 30px;
    padding-left: 15px;
    padding-top: 10px;
}
.textdthu1{
	text-transform: uppercase;
	font-size: 13px;
    font-weight: 600;
}
.textfundt{
	display: flex;
    justify-content: space-between;
    padding: 0px 17px 10px 17px;
}
.textfundt p{
	font-weight: 600;
}
.fundthu{
	display: flex;
}
.inpdthu{
	font-size: 15px;
	outline: none;
    margin-right: 10px;
    border: none;
    border-bottom: 1px solid;
}
.butdthu{
	border: 1px solid #d2c4c4;
    background-color: #0ad0d0;
    font-size: 14px;
    width: 38px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
	border-radius: 2px;
}
.butdthu:hover{
	border: 1px solid #0a0909;
}